Repository guardrail-dev/guardrail, changes with the labels that .github/labeler.yml gives for each.
All labels: core, java-async-http, java-dropwizard, java-spring-mvc, java-support, scala-akka-http, scala-dropwizard, scala-http4s, scala-zio-http, scala-support, cli

.github/labeler.yml:

core:
- modules/core/src/main/*
- modules/core/src/main/**/*
- project/src/main/scala/modules/core.scala

java-async-http:
- modules/java-async-http/src/main/*
- modules/java-async-http/src/main/**/*
- project/src/main/scala/modules/javaAsyncHttp.scala

java-dropwizard:
- modules/java-dropwizard/src/main/*
- modules/java-dropwizard/src/main/**/*
- project/src/main/scala/modules/javaDropwizard.scala

java-spring-mvc:
- modules/java-spring-mvc/src/main/*
- modules/java-spring-mvc/src/main/**/*
- project/src/main/scala/modules/javaSpringMvc.scala

java-support:
- modules/java-support/src/main/*
- modules/java-support/src/main/**/*
- project/src/main/scala/modules/javaSupport.scala

scala-akka-http:
- modules/scala-akka-http/src/main/*
- modules/scala-akka-http/src/main/**/*
- project/src/main/scala/modules/scalaAkkaHttp.scala

scala-dropwizard:
- modules/scala-dropwizard/src/main/*
- modules/scala-dropwizard/src/main/**/*
- project/src/main/scala/modules/scalaDropwizard.scala

scala-http4s:
- modules/scala-http4s/src/main/*
- modules/scala-http4s/src/main/**/*
- project/src/main/scala/modules/scalaHttp4s.scala

scala-zio-http:
- modules/scala-zio-http/*
- modules/scala-zio-http/**/*
- project/src/main/scala/modules/scalaZioHttp.scala

scala-support:
- modules/scala-support/src/main/*
- modules/scala-support/src/main/**/*
- project/src/main/scala/modules/scalaSupport.scala

cli:
- modules/cli/src/main/*
- modules/cli/src/main/**/*
- project/src/main/scala/modules/cli.scala

Update spring-boot-starter-test, ... to 3.3.6
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update scalameta to 4.11.2
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support

Update scalameta to 4.9.8
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support

Update jackson-module-scala to 2.16.2
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: scala-akka-http, scala-dropwizard

Update jackson-datatype-jsr310 to 2.16.2
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: scala-akka-http, scala-dropwizard

Update equalsverifier to 3.15.8
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard

Update scalacheck to 1.17.1
  project/src/main/scala/Dependencies.scala
Labels: none

Update Codecov action for Node 24
  .github/workflows/ci.yml
Labels: none

Update sbt-scoverage to 2.0.12
  project/scoverage.sbt
Labels: none

Update sbt-scalafmt to 2.5.6
  project/scalafmt.sbt
Labels: none

Update sbt-ci-release to 1.12.0
  project/ci-release.sbt
Labels: none

Update sbt-version-policy to 3.3.0
  project/version-policy.sbt
Labels: none

Update swagger-parser to 2.1.45
  project/src/main/scala/modules/core.scala
Labels: core

Update slf4j-simple to 2.0.18
  project/src/main/scala/modules/root.scala
Labels: none

Update kind-projector to 0.13.4
  project/src/main/scala/Build.scala
Labels: none

Update async-http-client to 2.12.4
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard

Update javaparser-symbol-solver-core to 3.25.10
  project/src/main/scala/modules/javaSupport.scala
Labels: java-support

Fix JavaParser parent links in Java generators
  modules/java-dropwizard/src/main/scala/dev/guardrail/generators/java/dropwizard/DropwizardServerGenerator.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/JavaGenerator.scala
Labels: java-dropwizard, java-support

Update sbt-updates to 0.7.0
  project/plugins.sbt
Labels: none

Update sbt-scalafix to 0.14.7
  project/scalafix.sbt
Labels: none

Update sbt, sbt-dependency-tree, ... to 1.12.13
  project/build.properties
Labels: none

Update scalatest to 3.2.20
  project/src/main/scala/Dependencies.scala
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/javaSpringMvc.scala
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: java-dropwizard, java-spring-mvc, scala-akka-http, scala-dropwizard, scala-http4s

Update scalafmt-core to 3.11.1
  .scalafmt.conf
Labels: none

Add 'Reformat with scalafmt 3.11.1' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Update mockito-scala, ... to 1.17.45
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/javaSpringMvc.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, java-spring-mvc, scala-dropwizard

Update jackson-annotations, jackson-core, ... to 2.16.2
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: scala-akka-http, scala-dropwizard

Update refined, refined-cats to 0.11.4
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-akka-http, scala-http4s

Update Scala matrix for refined 0.11.4
  modules/core/src/main/scala/dev/guardrail/Target.scala
  modules/core/src/main/scala/dev/guardrail/core/IndexedDistributive.scala
  project/scalafix.sbt
  project/scoverage.sbt
  project/src/main/scala/Build.scala
  project/wartremover.sbt
Labels: core

Update sbt to 2.0.1
  project/build.properties
Labels: none

Update scalafmt-core to 3.11.2
  .scalafmt.conf
Labels: none

Reformat with scalafmt 3.11.2
  modules/java-async-http/src/main/scala/dev/guardrail/generators/java/asyncHttpClient/AsyncHttpClientClientGenerator.scala
Labels: java-async-http

Add 'Reformat with scalafmt 3.11.2' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Backfill a few missing status codes in Http4sGenerator
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sGenerator.scala
Labels: scala-http4s

Drop JDK 14 from CI
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: none

Target Java 17 bytecode
  project/src/main/scala/Build.scala
Labels: none

Enable Byte Buddy experimental tests
  build.sbt
Labels: none

Avoid mocking ByteBuffer in tests
  modules/sample-dropwizard/src/test/scala/helpers/MockHelpers.scala
Labels: none

Update sbt to 2.0.2
  project/build.properties
Labels: none

Update scalafmt-core to 3.11.3
  .scalafmt.conf
Labels: none

Reformat with scalafmt 3.11.3
  modules/java-async-http/src/main/scala/dev/guardrail/generators/java/asyncHttpClient/AsyncHttpClientClientGenerator.scala
Labels: java-async-http
