Repository guardrail-dev/guardrail, changes with the labels that .github/labeler.yml gives for each.
All labels: core, java-async-http, java-dropwizard, java-spring-mvc, java-support, scala-akka-http, scala-dropwizard, scala-http4s, scala-zio-http, scala-support, cli

.github/labeler.yml:

core:
- modules/core/src/main/*
- modules/core/src/main/**/*
- project/src/main/scala/modules/core.scala

java-async-http:
- modules/java-async-http/src/main/*
- modules/java-async-http/src/main/**/*
- project/src/main/scala/modules/javaAsyncHttp.scala

java-dropwizard:
- modules/java-dropwizard/src/main/*
- modules/java-dropwizard/src/main/**/*
- project/src/main/scala/modules/javaDropwizard.scala

java-spring-mvc:
- modules/java-spring-mvc/src/main/*
- modules/java-spring-mvc/src/main/**/*
- project/src/main/scala/modules/javaSpringMvc.scala

java-support:
- modules/java-support/src/main/*
- modules/java-support/src/main/**/*
- project/src/main/scala/modules/javaSupport.scala

scala-akka-http:
- modules/scala-akka-http/src/main/*
- modules/scala-akka-http/src/main/**/*
- project/src/main/scala/modules/scalaAkkaHttp.scala

scala-dropwizard:
- modules/scala-dropwizard/src/main/*
- modules/scala-dropwizard/src/main/**/*
- project/src/main/scala/modules/scalaDropwizard.scala

scala-http4s:
- modules/scala-http4s/src/main/*
- modules/scala-http4s/src/main/**/*
- project/src/main/scala/modules/scalaHttp4s.scala

scala-zio-http:
- modules/scala-zio-http/*
- modules/scala-zio-http/**/*
- project/src/main/scala/modules/scalaZioHttp.scala

scala-support:
- modules/scala-support/src/main/*
- modules/scala-support/src/main/**/*
- project/src/main/scala/modules/scalaSupport.scala

cli:
- modules/cli/src/main/*
- modules/cli/src/main/**/*
- project/src/main/scala/modules/cli.scala

Add 'Reformat with scalafmt 3.11.3' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Update sbt-scalafmt to 2.6.1
  project/scalafmt.sbt
Labels: none

Update scalacheck to 1.19.0
  project/src/main/scala/Dependencies.scala
Labels: none

Update mockito-scala, ... to 2.2.1
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/javaSpringMvc.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, java-spring-mvc, scala-dropwizard

Update async-http-client to 2.16.0
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard

Update equalsverifier to 3.19.4
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard

Update javaparser-symbol-solver-core to 3.28.2
  project/src/main/scala/modules/javaSupport.scala
Labels: java-support

Update jackson-module-scala to 2.22.1
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: scala-akka-http, scala-dropwizard

Update jackson-datatype-jsr310 to 2.22.1
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: scala-akka-http, scala-dropwizard

Update jackson-core, jackson-databind to 2.22.1
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: scala-akka-http, scala-dropwizard

Update jackson-annotations to 2.22
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: scala-akka-http, scala-dropwizard

Update http4s-circe, http4s-dsl to 0.23.36
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s

Update circe-core, circe-jawn, circe-parser to 0.14.16
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-akka-http, scala-http4s

Update hibernate-validator to 8.0.4.Final
  project/src/main/scala/modules/scalaAkkaHttp.scala
Labels: scala-akka-http

Update spring-boot-starter-test, ... to 4.1.0
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update org.eclipse.jdt.core to 3.46.0
  project/src/main/scala/modules/javaSupport.scala
Labels: java-support

Update dropwizard-core, dropwizard-forms, ... to 5.0.2
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, scala-dropwizard

Update mdoc, sbt-mdoc to 2.9.0
  project/mdoc.sbt
Labels: none

Update jersey-test-framework-provider-grizzly2 to 2.48
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, scala-dropwizard

Update scalameta to 4.14.7
  project/scalameta.sbt
Labels: none

Update vavr-jackson to 0.11.0
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard

Update scala-library, scala-reflect to 2.12.21
  project/src/main/scala/Build.scala
Labels: none

Update circe-refined to 0.14.9
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-akka-http, scala-http4s

Update scala-collection-compat to 2.14.0
  project/src/main/scala/Build.scala
  project/src/main/scala/modules/core.scala
Labels: core

Update vavr to 0.10.7
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard

Update cats-core, cats-kernel to 2.13.0
  project/src/main/scala/modules/core.scala
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: core, scala-akka-http, scala-dropwizard, scala-http4s

Update cats-effect to 3.5.7
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s

Update http4s-blaze-client, ... to 0.23.17
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s

Update dropwizard-vavr to 4.0.0-2
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard

Update async-http-client to 3.0.1
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard

Update scalafmt-core to 3.11.3 (#2293)
  .git-blame-ignore-revs
  .scalafmt.conf
  modules/java-async-http/src/main/scala/dev/guardrail/generators/java/asyncHttpClient/AsyncHttpClientClientGenerator.scala
Labels: java-async-http

Update sbt-scalafmt to 2.6.1 (#2290)
  project/scalafmt.sbt
Labels: none

Update scalacheck to 1.19.0 (#2289)
  project/src/main/scala/Dependencies.scala
Labels: none

Update equalsverifier to 3.19.4 (#2285)
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard

Update equalsverifier to 4.5
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard

Update mockito-scala, ... to 2.2.3
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/javaSpringMvc.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, java-spring-mvc, scala-dropwizard

Update sbt, sbt-dependency-tree, ... to 1.12.14
  project/build.properties
Labels: none

Update mdoc, sbt-mdoc to 2.9.1
  project/mdoc.sbt
Labels: none

Update sbt-scalafmt to 2.6.2
  project/scalafmt.sbt
Labels: none

Update scalafmt-core to 3.11.4
  .scalafmt.conf
Labels: none
