Repository guardrail-dev/guardrail, changes with the labels that .github/labeler.yml gives for each.
All labels: core, java-async-http, java-dropwizard, java-spring-mvc, java-support, scala-akka-http, scala-dropwizard, scala-http4s, scala-zio-http, scala-support, cli

Update sbt-version-policy to 3.0.0
  project/version-policy.sbt
Labels: none

Adding a note about upcoming ABI changes
  MIGRATING.md
Labels: none

scala-steward badge
  README.md
Labels: none

Manual versioning
  .github/workflows/release.yml
  project/src/main/scala/Build.scala
Labels: none

Providing a dynamic name for Release runs
  .github/workflows/release.yml
Labels: none

Update sbt-version-policy to 3.1.0
  project/version-policy.sbt
Labels: none

Update javaparser-symbol-solver-core to 3.25.7
  project/src/main/scala/modules/javaSupport.scala
Labels: java-support

Update org.eclipse.jdt.core to 3.36.0
  project/src/main/scala/modules/javaSupport.scala
Labels: java-support

Reflowing GuardrailRunner to be an abstract class
  modules/cli/src/main/scala/dev/guardrail/cli/CLICommon.scala
  modules/core/src/main/scala/dev/guardrail/runner/GuardrailRunner.scala
Labels: core, cli

Simplifying GuardrailRunner ABI
  modules/cli/src/main/scala/dev/guardrail/cli/CLICommon.scala
  modules/core/src/main/scala/dev/guardrail/runner/GuardrailRunner.scala
  modules/core/src/main/scala/dev/guardrail/runner/GuardrailRunnerCompat.scala
Labels: core, cli

Moving TagsBehavior out of Context
  modules/cli/src/main/scala/dev/guardrail/cli/CLICommon.scala
  modules/core/src/main/scala/dev/guardrail/Context.scala
  modules/core/src/main/scala/dev/guardrail/TagsBehavior.scala
  modules/core/src/main/scala/dev/guardrail/generators/OpenAPIGenerator.scala
  modules/core/src/main/scala/dev/guardrail/terms/OpenAPITerms.scala
  modules/java-dropwizard/src/test/scala/scala/core/issues/Issue314.scala
  modules/scala-akka-http/src/test/scala/core/issues/Issue314.scala
Labels: core, cli

Moving over to the dynamically generated Args and Context pojos
  modules/cli/src/main/scala/dev/guardrail/cli/CLICommon.scala
  modules/core/src/main/scala/dev/guardrail/Args.scala
  modules/core/src/main/scala/dev/guardrail/Context.scala
  modules/java-dropwizard/src/test/scala/scala/core/issues/Issue314.scala
  modules/scala-akka-http/src/test/scala/core/issues/Issue314.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/AkkaHttpClientGeneratorTest.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/AkkaHttpServerTest.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/client/AkkaHttpClientTracingTest.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue166.scala
  modules/scala-http4s/src/test/scala/tests/generators/http4s/Http4sServerTest.scala
  project/src/main/scala/modules/core.scala
  src/test/scala/codegen/WritePackageSpec.scala
  src/test/scala/core/StructuredLoggerSuite.scala
Labels: core, cli

Defining Args and Context as generated POJO members
  project/scalameta.sbt
  project/src/main/scala/interop/CompanionFunctions.scala
  project/src/main/scala/interop/InteropKeys.scala
  project/src/main/scala/interop/InteropTasks.scala
  project/src/main/scala/interop/PojoFunctions.scala
Labels: none

copyContext -> modifyContext
  modules/cli/src/main/scala/dev/guardrail/cli/CLICommon.scala
Labels: cli

Add TODO
  modules/java-spring-mvc/src/main/scala/dev/guardrail/generators/java/springMvc/SpringMvcServerGenerator.scala
Labels: java-spring-mvc

Permit arbitrary statements in StaticDefns
  modules/core/src/main/scala/dev/guardrail/terms/protocol/StrictProtocolElems.scala
  modules/java-async-http/src/main/scala/dev/guardrail/generators/java/asyncHttpClient/AsyncHttpClientClientGenerator.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonGenerator.scala
  modules/microsite/src/main/scala/DocsHelpers.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpClientGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sClientGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/syntax/Scala.scala
Labels: core, java-async-http, java-support, scala-akka-http, scala-http4s, scala-support

Delete effectively-noop renderADTStaticDefns
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
Labels: scala-support

Removing unnecessary Target[Option[A]]
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
Labels: scala-support

Reflowing encode/decodeEnum
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
Labels: scala-support

Emitting the oneOf enumeration structure
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
Labels: scala-support

Inject and consider discriminator
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
Labels: scala-support

Permit discriminator name mapping
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
Labels: scala-support

Better ergonomics for widening members to the oneOf enum
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
Labels: scala-support

Adding issue195 test case
  modules/sample-akkaHttp/src/test/scala/core/issues/Issue195.scala
  modules/sample/src/main/resources/issues/issue195.yaml
  project/src/main/scala/RegressionTests.scala
Labels: none

Copy over oneOf implementation over to Refined generator
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
Labels: scala-support

Continuing work on Release run-name
  .github/workflows/release.yml
Labels: none

Determine incremental labels even if building on master
  support/current-pr-labels.sh
Labels: none

Disambiguating moduleName vs moduleSegment in Build
  project/src/main/scala/Build.scala
Labels: none

Incorporate release-drafter-style version bumping into -SNAPSHOT version releases
  project/src/main/scala/Build.scala
  support/current-pr-labels.sh
Labels: none

Break out currentBuildLabels
  project/src/main/scala/Build.scala
Labels: none

Attempting to compensate for "Cannot iterate over null"
  support/current-pr-labels.sh
Labels: none

Avoid interpolating $pr_number as it could be null
  support/current-pr-labels.sh
Labels: none

Add GITHUB_TOKEN to release
  .github/workflows/release.yml
Labels: none

Cached labels incorporate short rev
  support/current-pr-labels.sh
Labels: none

Expose an "unsafe" guardrail runner
  modules/core/src/main/scala/dev/guardrail/runner/GuardrailRunner.scala
Labels: core

Updating docsify
  docs/index.html
  docs/scala/akka-http-jackson
  docs/scala/akka-http-jackson/index.html
  docs/scala/akka-http/generating-a-server.html
  docs/scala/akka-http/generating-clients.html
  java/_sidebar.md
  java/dropwizard/_sidebar.md
  scala/_sidebar.md
  scala/akka-http-jackson/index.html
  scala/akka-http/_sidebar.md
  scala/pekko-http/README.md
  scala/pekko-http/_sidebar.md
Labels: none

Updating docsify
  java/dropwizard/generating-a-server.html
  java/dropwizard/generating-clients.html
  java/dropwizard/index.html
  java/dropwizard/installation.html
  java/dropwizard/sample-api-specification.html
  java/dropwizard/what-is-guardrail.html
  java/index.html
  java/spring-mvc/index.html
  scala/akka-http/dtos.html
  scala/akka-http/generating-a-server.html
  scala/akka-http/generating-clients.html
  scala/akka-http/guardrail-extensions.html
  scala/akka-http/index.html
  scala/akka-http/installation.html
  scala/akka-http/sample-api-specification.html
  scala/akka-http/what-is-guardrail.html
  scala/dropwizard/index.html
  scala/http4s/dtos.html
  scala/http4s/generating-a-server.html
  scala/http4s/generating-clients.html
  scala/http4s/guardrail-extensions.html
  scala/http4s/index.html
  scala/http4s/installation.html
  scala/http4s/sample-api-specification.html
  scala/http4s/what-is-guardrail.html
  scala/index.html
Labels: none

Workaround for #1897
  modules/core/src/main/scala/dev/guardrail/Common.scala
Labels: core

make code in sbt.md compile
  docs/plugins/sbt.md
Labels: none

Updating master
  plugins/sbt.md
Labels: none

.github/labeler.yml:

core:
- modules/core/src/main/*
- modules/core/src/main/**/*
- project/src/main/scala/modules/core.scala

java-async-http:
- modules/java-async-http/src/main/*
- modules/java-async-http/src/main/**/*
- project/src/main/scala/modules/javaAsyncHttp.scala

java-dropwizard:
- modules/java-dropwizard/src/main/*
- modules/java-dropwizard/src/main/**/*
- project/src/main/scala/modules/javaDropwizard.scala

java-spring-mvc:
- modules/java-spring-mvc/src/main/*
- modules/java-spring-mvc/src/main/**/*
- project/src/main/scala/modules/javaSpringMvc.scala

java-support:
- modules/java-support/src/main/*
- modules/java-support/src/main/**/*
- project/src/main/scala/modules/javaSupport.scala

scala-akka-http:
- modules/scala-akka-http/src/main/*
- modules/scala-akka-http/src/main/**/*
- project/src/main/scala/modules/scalaAkkaHttp.scala

scala-dropwizard:
- modules/scala-dropwizard/src/main/*
- modules/scala-dropwizard/src/main/**/*
- project/src/main/scala/modules/scalaDropwizard.scala

scala-http4s:
- modules/scala-http4s/src/main/*
- modules/scala-http4s/src/main/**/*
- project/src/main/scala/modules/scalaHttp4s.scala

scala-zio-http:
- modules/scala-zio-http/*
- modules/scala-zio-http/**/*
- project/src/main/scala/modules/scalaZioHttp.scala

scala-support:
- modules/scala-support/src/main/*
- modules/scala-support/src/main/**/*
- project/src/main/scala/modules/scalaSupport.scala

cli:
- modules/cli/src/main/*
- modules/cli/src/main/**/*
- project/src/main/scala/modules/cli.scala
