Repository guardrail-dev/guardrail, changes with the labels that .github/labeler.yml gives for each.
All labels: core, java-async-http, java-dropwizard, java-spring-mvc, java-support, scala-akka-http, scala-dropwizard, scala-http4s, scala-zio-http, scala-support, cli

.github/labeler.yml:

core:
- modules/core/src/main/*
- modules/core/src/main/**/*
- project/src/main/scala/modules/core.scala

java-async-http:
- modules/java-async-http/src/main/*
- modules/java-async-http/src/main/**/*
- project/src/main/scala/modules/javaAsyncHttp.scala

java-dropwizard:
- modules/java-dropwizard/src/main/*
- modules/java-dropwizard/src/main/**/*
- project/src/main/scala/modules/javaDropwizard.scala

java-spring-mvc:
- modules/java-spring-mvc/src/main/*
- modules/java-spring-mvc/src/main/**/*
- project/src/main/scala/modules/javaSpringMvc.scala

java-support:
- modules/java-support/src/main/*
- modules/java-support/src/main/**/*
- project/src/main/scala/modules/javaSupport.scala

scala-akka-http:
- modules/scala-akka-http/src/main/*
- modules/scala-akka-http/src/main/**/*
- project/src/main/scala/modules/scalaAkkaHttp.scala

scala-dropwizard:
- modules/scala-dropwizard/src/main/*
- modules/scala-dropwizard/src/main/**/*
- project/src/main/scala/modules/scalaDropwizard.scala

scala-http4s:
- modules/scala-http4s/src/main/*
- modules/scala-http4s/src/main/**/*
- project/src/main/scala/modules/scalaHttp4s.scala

scala-zio-http:
- modules/scala-zio-http/*
- modules/scala-zio-http/**/*
- project/src/main/scala/modules/scalaZioHttp.scala

scala-support:
- modules/scala-support/src/main/*
- modules/scala-support/src/main/**/*
- project/src/main/scala/modules/scalaSupport.scala

cli:
- modules/cli/src/main/*
- modules/cli/src/main/**/*
- project/src/main/scala/modules/cli.scala

Update spring-boot-starter-test, ... to 3.5.8
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update spring-boot-starter-test, ... to 4.0.0
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update swagger-parser to 2.1.36
  project/src/main/scala/modules/core.scala
Labels: core

Update scalafmt-core to 3.10.2
  .scalafmt.conf
Labels: none

Add 'Reformat with scalafmt 3.10.2' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Update mdoc, sbt-mdoc to 2.8.1
  project/mdoc.sbt
Labels: none

Update sbt-wartremover to 3.4.2
  project/wartremover.sbt
Labels: none

Unmoor runs-on
  .github/workflows/ci.yml
  .github/workflows/publish-website.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
Labels: none

Setting up determinate-nix devshell flake
  flake.nix
Labels: none

Adding direnv
  .envrc
  .gitignore
Labels: none

Flake lock
  flake.lock
Labels: none

Add Scala 3 code generation support (#2188)
  modules/cli/src/main/scala/dev/guardrail/cli/CLICommon.scala
  modules/core/src/main/scala/dev/guardrail/generators/ScalaVersion.scala
  modules/core/src/test/scala/dev/guardrail/generators/ScalaVersionSpec.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpClientGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpHelper.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpServerGenerator.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/Scala3ServerTest.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/client/Scala3ClientTest.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sClientGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/Scala3Compat.scala
  modules/scala-support/src/test/scala/dev/guardrail/generators/scala/Scala3CompatSpec.scala
  project/src/main/scala/modules/core.scala
Labels: core, scala-akka-http, scala-http4s, scala-support, cli

Update org.eclipse.jdt.core to 3.44.0
  project/src/main/scala/modules/javaSupport.scala
Labels: java-support

Update sbt-scalafix to 0.14.5
  project/scalafix.sbt
Labels: none

Update sbt-wartremover to 3.4.3
  project/wartremover.sbt
Labels: none

Update swagger-parser to 2.1.37
  project/src/main/scala/modules/core.scala
Labels: core

Upgrade to sbt 1.11.x
  build.sbt
  project/build.properties
Labels: none

Bumping sbt-ci-release
  project/ci-release.sbt
  project/src/main/scala/Build.scala
Labels: none

Update scalameta to 4.14.2
  project/scalameta.sbt
Labels: none

Update mdoc, sbt-mdoc to 2.8.2
  project/mdoc.sbt
Labels: none

Update scalameta to 4.14.3
  project/scalameta.sbt
Labels: none

Update spring-boot-starter-test, ... to 4.0.1
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update sbt-wartremover to 3.5.0
  project/wartremover.sbt
Labels: none

Update scalafmt-core to 3.10.3
  .scalafmt.conf
Labels: none

Add 'Reformat with scalafmt 3.10.3' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Update sbt, sbt-dependency-tree, ... to 1.12.0
  project/build.properties
Labels: none

Update scalameta to 4.14.4
  project/scalameta.sbt
Labels: none

Update sbt-wartremover to 3.5.1
  project/wartremover.sbt
Labels: none

Update dropwizard-core, dropwizard-forms, ... to 5.0.1
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, scala-dropwizard

Update sbt, sbt-dependency-tree, ... to 1.12.1
  project/build.properties
Labels: none

Update scalafmt-core to 3.10.5
  .scalafmt.conf
Labels: none

Add 'Reformat with scalafmt 3.10.5' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Update scalameta to 4.14.6
  project/scalameta.sbt
Labels: none

Update spring-boot-starter-test, ... to 4.0.2
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update sbt-wartremover to 3.5.4
  project/wartremover.sbt
Labels: none

Update scalafmt-core to 3.10.6
  .scalafmt.conf
Labels: none

Add 'Reformat with scalafmt 3.10.6' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Update sbt-wartremover to 3.5.5
  project/wartremover.sbt
Labels: none

Update sbt, sbt-dependency-tree, ... to 1.12.2
  project/build.properties
Labels: none

Update scalafmt-core to 3.10.7
  .scalafmt.conf
Labels: none
