Repository guardrail-dev/guardrail, changes with the labels that .github/labeler.yml gives for each.
All labels: core, java-async-http, java-dropwizard, java-spring-mvc, java-support, scala-akka-http, scala-dropwizard, scala-endpoints, scala-http4s, scala-support, guardrail, cli

.github/labeler.yml:

core:
- modules/core/*
- modules/core/**/*
- project/src/main/scala/modules/core.scala

java-async-http:
- modules/java-async-http/*
- modules/java-async-http/**/*
- project/src/main/scala/modules/javaAsyncHttp.scala

java-dropwizard:
- modules/java-dropwizard/*
- modules/java-dropwizard/**/*
- project/src/main/scala/modules/javaDropwizard.scala

java-spring-mvc:
- modules/java-spring-mvc/*
- modules/java-spring-mvc/**/*
- project/src/main/scala/modules/javaSpringMvc.scala

java-support:
- modules/java-support/*
- modules/java-support/**/*
- project/src/main/scala/modules/javaSupport.scala

scala-akka-http:
- modules/scala-akka-http/*
- modules/scala-akka-http/**/*
- project/src/main/scala/modules/scalaAkkaHttp.scala

scala-dropwizard:
- modules/scala-dropwizard/*
- modules/scala-dropwizard/**/*
- project/src/main/scala/modules/scalaDropwizard.scala

scala-endpoints:
- modules/scala-endpoints/*
- modules/scala-endpoints/**/*
- project/src/main/scala/modules/scalaEndpoints.scala

scala-http4s:
- modules/scala-http4s/*
- modules/scala-http4s/**/*
- project/src/main/scala/modules/scalaHttp4s.scala

scala-support:
- modules/scala-support/*
- modules/scala-support/**/*
- project/src/main/scala/modules/scalaSupport.scala

guardrail:
- modules/codegen/*
- modules/codegen/**/*
- project/src/main/scala/modules/guardrail.scala

cli:
- modules/cli/*
- modules/cli/**/*
- project/src/main/scala/modules/cli.scala

Update javaparser-symbol-solver-core to 3.23.1
  project/src/main/scala/modules/javaSupport.scala
Labels: java-support

Update akka-http, akka-http-testkit to 10.2.7
  project/src/main/scala/modules/scalaAkkaHttp.scala
Labels: scala-akka-http

Update scalameta to 4.4.30
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support

Update sbt-scoverage to 1.9.2
  project/scoverage.sbt
Labels: none

Switching leaf and support modules to direct dependencies, leaving only guardrail deps as provided scope
  build.sbt
Labels: none

Describing explicit dep versions
  build.sbt
  project/src/main/scala/Build.scala
Labels: none

Removing Some since we have explicit functions now
  build.sbt
  project/src/main/scala/Build.scala
Labels: none

Use dependsOn for local development
  project/src/main/scala/Build.scala
Labels: none

Inline dependency schemes when releasing
  project/src/main/scala/Build.scala
Labels: none

Moving explicit versions into modules to trigger bumps
  build.sbt
  project/src/main/scala/Build.scala
  project/src/main/scala/modules/cli.scala
  project/src/main/scala/modules/guardrail.scala
  project/src/main/scala/modules/javaAsyncHttp.scala
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/javaSpringMvc.scala
  project/src/main/scala/modules/javaSupport.scala
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
  project/src/main/scala/modules/scalaEndpoints.scala
  project/src/main/scala/modules/scalaHttp4s.scala
  project/src/main/scala/modules/scalaSupport.scala
Labels: java-async-http, java-dropwizard, java-spring-mvc, java-support, scala-akka-http, scala-dropwizard, scala-endpoints, scala-http4s, scala-support, guardrail, cli

Boolean flip, use dependencies when doing a release
  project/src/main/scala/Build.scala
Labels: none

Update scala-collection-compat to 2.6.0
  project/src/main/scala/Build.scala
  project/src/main/scala/modules/core.scala
Labels: core

Move http4s response defs to local scope
  modules/sample-http4s/src/test/scala/core/Http4s/Http4sCustomExtractorTest.scala
  modules/sample-http4s/src/test/scala/core/Http4s/Http4sDebugBodyTest.scala
  modules/sample-http4s/src/test/scala/core/Http4s/Http4sFullTracerTest.scala
  modules/sample-http4s/src/test/scala/core/Http4s/Http4sMixedContentTypesTest.scala
  modules/sample-http4s/src/test/scala/core/Http4s/Http4sNonStringEnumerationTest.scala
  modules/sample-http4s/src/test/scala/core/Http4s/Http4sRawServerTest.scala
  modules/sample-http4s/src/test/scala/core/Http4s/Http4sRoundTripTest.scala
  modules/sample-http4s/src/test/scala/core/issues/Issue121.scala
  modules/sample-http4s/src/test/scala/core/issues/Issue1229.scala
  modules/sample-http4s/src/test/scala/core/issues/Issue148.scala
  modules/sample-http4s/src/test/scala/core/issues/Issue455.scala
  modules/sample-http4s/src/test/scala/core/issues/Issue542.scala
  modules/sample-http4s/src/test/scala/generators/Http4s/Client/contentType/Http4sTextPlainTest.scala
  modules/sample-http4s/src/test/scala/generators/Http4s/RoundTrip/Http4sCustomHeadersTest.scala
  modules/sample-http4s/src/test/scala/generators/Http4s/RoundTrip/Http4sFormDataTest.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sServerGenerator.scala
Labels: scala-http4s

Update scala-collection-compat to 2.6.0 (#1315)
  project/src/main/scala/Build.scala
  project/src/main/scala/modules/core.scala
Labels: core

Update sbt-scalafix to 0.9.32
  project/scalafix.sbt
Labels: none

Update sbt-scalafix to 0.9.32 (#1317)
  project/scalafix.sbt
Labels: none

Update sbt-scoverage to 1.9.2 (#1311)
  project/scoverage.sbt
Labels: none

When releasing, explicitly depend on published jar
  project/src/main/scala/Build.scala
Labels: none

When the underlying build changes, give the opportunity for a rebuild
  .github/release-drafter-cli.yml
  .github/release-drafter-core.yml
  .github/release-drafter-guardrail.yml
  .github/release-drafter-java-async-http.yml
  .github/release-drafter-java-dropwizard.yml
  .github/release-drafter-java-spring-mvc.yml
  .github/release-drafter-java-support.yml
  .github/release-drafter-scala-akka-http.yml
  .github/release-drafter-scala-dropwizard.yml
  .github/release-drafter-scala-endpoints.yml
  .github/release-drafter-scala-http4s.yml
  .github/release-drafter-scala-support.yml
  support/regenerate-release-drafter.sh
Labels: none

Fixing test dependencies during release
  project/src/main/scala/Build.scala
Labels: none

Optional useProvided
  build.sbt
  project/src/main/scala/Build.scala
Labels: none

Typo
  project/src/main/scala/Build.scala
Labels: none

Test dependencies
  project/src/main/scala/Build.scala
Labels: none

Fixing tests
  modules/scala-akka-http/src/test/scala/core/issues/Issue127.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/server/FormFieldsTest.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue144.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue165.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue225.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue416.scala
  modules/scala-http4s/src/test/scala/tests/generators/http4s/Http4sServerTest.scala
Labels: scala-akka-http, scala-http4s

More robust test classpath management
  build.sbt
  project/src/main/scala/Build.scala
Labels: none

Unintentionally caused guardrail publishing to fail
  build.sbt
Labels: none

Tweaking build, microsite deps
  build.sbt
Labels: none

Update spring-boot-starter-test, ... to 2.5.7
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update sbt-scalafmt to 2.4.4
  project/scalafmt.sbt
Labels: none

Update spring-boot-starter-test, ... to 2.6.0
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Resolving CLI runner dependency issues
  build.sbt
Labels: none

Add test for returning fs2.Stream[F, Byte] for http4s
  modules/sample/src/main/resources/binary3.yaml
  project/src/main/scala/RegressionTests.scala
Labels: none

Swagger -> OAI change
  modules/sample/src/main/resources/binary3.yaml
Labels: none

Resolving initial compilation error for #1236
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sClientGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sServerGenerator.scala
Labels: scala-http4s

Fix regression tests filtering by framework
  build.sbt
  project/src/main/scala/RegressionTests.scala
Labels: none

Adding bincompat testing for CI
  .github/workflows/ci.yml
  project/src/main/scala/Build.scala
  support/current-pr-labels.sh
Labels: none

Caching
  support/current-pr-labels.sh
Labels: none

Some final observations around bincompat
  modules/codegen/src/main/scala/dev/guardrail/generators/GeneratorMappings.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4s.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sServerGenerator.scala
Labels: scala-http4s, guardrail

Removing build.sbt from release-drafter again
  .github/release-drafter-cli.yml
  .github/release-drafter-core.yml
  .github/release-drafter-guardrail.yml
  .github/release-drafter-java-async-http.yml
  .github/release-drafter-java-dropwizard.yml
  .github/release-drafter-java-spring-mvc.yml
  .github/release-drafter-java-support.yml
  .github/release-drafter-scala-akka-http.yml
  .github/release-drafter-scala-dropwizard.yml
  .github/release-drafter-scala-endpoints.yml
  .github/release-drafter-scala-http4s.yml
  .github/release-drafter-scala-support.yml
  support/regenerate-release-drafter.sh
Labels: none

Altering pr-label cacher
  support/current-pr-labels.sh
Labels: none
