Repository guardrail-dev/guardrail, changes with the labels that .github/labeler.yml gives for each.
All labels: core, java-async-http, java-dropwizard, java-spring-mvc, java-support, scala-akka-http, scala-dropwizard, scala-http4s, scala-zio-http, scala-support, cli

.github/labeler.yml:

core:
- modules/core/src/main/*
- modules/core/src/main/**/*
- project/src/main/scala/modules/core.scala

java-async-http:
- modules/java-async-http/src/main/*
- modules/java-async-http/src/main/**/*
- project/src/main/scala/modules/javaAsyncHttp.scala

java-dropwizard:
- modules/java-dropwizard/src/main/*
- modules/java-dropwizard/src/main/**/*
- project/src/main/scala/modules/javaDropwizard.scala

java-spring-mvc:
- modules/java-spring-mvc/src/main/*
- modules/java-spring-mvc/src/main/**/*
- project/src/main/scala/modules/javaSpringMvc.scala

java-support:
- modules/java-support/src/main/*
- modules/java-support/src/main/**/*
- project/src/main/scala/modules/javaSupport.scala

scala-akka-http:
- modules/scala-akka-http/src/main/*
- modules/scala-akka-http/src/main/**/*
- project/src/main/scala/modules/scalaAkkaHttp.scala

scala-dropwizard:
- modules/scala-dropwizard/src/main/*
- modules/scala-dropwizard/src/main/**/*
- project/src/main/scala/modules/scalaDropwizard.scala

scala-http4s:
- modules/scala-http4s/src/main/*
- modules/scala-http4s/src/main/**/*
- project/src/main/scala/modules/scalaHttp4s.scala

scala-zio-http:
- modules/scala-zio-http/*
- modules/scala-zio-http/**/*
- project/src/main/scala/modules/scalaZioHttp.scala

scala-support:
- modules/scala-support/src/main/*
- modules/scala-support/src/main/**/*
- project/src/main/scala/modules/scalaSupport.scala

cli:
- modules/cli/src/main/*
- modules/cli/src/main/**/*
- project/src/main/scala/modules/cli.scala

Update jersey-test-framework-provider-grizzly2 to 2.42
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, scala-dropwizard

Update spring-boot-starter-test, ... to 3.2.4
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update sbt-wartremover, wartremover to 3.2.7
  project/wartremover.sbt
Labels: none

Update scalafmt-core to 3.8.6
  .scalafmt.conf
Labels: none

Reformat with scalafmt 3.8.6
  modules/java-support/src/test/scala/tests/generators/helpers/JacksonHelpersTest.scala
  modules/sample-dropwizard/src/test/scala/core/Jackson/JacksonBuilderParamTest.scala
  modules/sample-dropwizard/src/test/scala/core/Jackson/JacksonNestedTest.scala
  modules/sample-dropwizardVavr/src/test/scala/core/JacksonVavr/JacksonBuilderParamTest.scala
  modules/sample-dropwizardVavr/src/test/scala/core/JacksonVavr/JacksonNestedTest.scala
  modules/sample-springMvc/src/test/scala/examples/server/springMvc/pet/BaselineSpecs.scala
  modules/scala-akka-http/src/test/scala/core/issues/Issue43.scala
  modules/scala-support/src/test/scala/tests/generators/helpers/JacksonHelpersTest.scala
Labels: none

Add 'Reformat with scalafmt 3.8.6' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Update scalameta to 4.12.7
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support

Update spring-boot-starter-test, ... to 3.4.2
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update vavr to 0.10.6
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard

Update scala-collection-compat to 2.13.0
  project/src/main/scala/Build.scala
  project/src/main/scala/modules/core.scala
Labels: core

Update mdoc, sbt-mdoc to 2.6.3
  project/mdoc.sbt
Labels: none

Update sbt-wartremover to 3.3.0
  project/wartremover.sbt
Labels: none

Update scalameta to 4.13.0
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support

Update mdoc, sbt-mdoc to 2.6.4
  project/mdoc.sbt
Labels: none

Update scalafmt-core to 3.9.0
  .scalafmt.conf
Labels: none

Reformat with scalafmt 3.9.0
  modules/java-support/src/test/scala/tests/generators/helpers/JacksonHelpersTest.scala
  modules/sample-dropwizard/src/test/scala/core/Jackson/JacksonBuilderParamTest.scala
  modules/sample-dropwizard/src/test/scala/core/Jackson/JacksonNestedTest.scala
  modules/sample-dropwizardVavr/src/test/scala/core/JacksonVavr/JacksonBuilderParamTest.scala
  modules/sample-dropwizardVavr/src/test/scala/core/JacksonVavr/JacksonNestedTest.scala
  modules/sample-springMvc/src/test/scala/examples/server/springMvc/pet/BaselineSpecs.scala
  modules/scala-akka-http/src/test/scala/core/issues/Issue43.scala
  modules/scala-support/src/test/scala/tests/generators/helpers/JacksonHelpersTest.scala
Labels: none

Add 'Reformat with scalafmt 3.9.0' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Update scalameta to 4.13.1.1
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support

Update sbt-scalafix to 0.14.2
  project/scalafix.sbt
Labels: none

Update spring-boot-starter-test, ... to 3.4.3
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update scalafmt-core to 3.9.1
  .scalafmt.conf
Labels: none

Add 'Reformat with scalafmt 3.9.1' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Reformat with scalafmt 3.9.1
  modules/java-support/src/test/scala/tests/generators/helpers/JacksonHelpersTest.scala
  modules/sample-dropwizard/src/test/scala/core/Jackson/JacksonBuilderParamTest.scala
  modules/sample-dropwizard/src/test/scala/core/Jackson/JacksonNestedTest.scala
  modules/sample-dropwizardVavr/src/test/scala/core/JacksonVavr/JacksonBuilderParamTest.scala
  modules/sample-dropwizardVavr/src/test/scala/core/JacksonVavr/JacksonNestedTest.scala
  modules/sample-springMvc/src/test/scala/examples/server/springMvc/pet/BaselineSpecs.scala
  modules/scala-akka-http/src/test/scala/core/issues/Issue43.scala
  modules/scala-support/src/test/scala/tests/generators/helpers/JacksonHelpersTest.scala
Labels: none

Update scalameta to 4.13.2
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support

Update slf4j-simple to 2.0.17
  project/src/main/scala/modules/root.scala
Labels: none

Update scalafmt-core to 3.9.2
  .scalafmt.conf
Labels: none

Reformat with scalafmt 3.9.2
  modules/java-support/src/test/scala/tests/generators/helpers/JacksonHelpersTest.scala
  modules/sample-dropwizard/src/test/scala/core/Jackson/JacksonBuilderParamTest.scala
  modules/sample-dropwizard/src/test/scala/core/Jackson/JacksonNestedTest.scala
  modules/sample-dropwizardVavr/src/test/scala/core/JacksonVavr/JacksonBuilderParamTest.scala
  modules/sample-dropwizardVavr/src/test/scala/core/JacksonVavr/JacksonNestedTest.scala
  modules/sample-springMvc/src/test/scala/examples/server/springMvc/pet/BaselineSpecs.scala
  modules/scala-akka-http/src/test/scala/core/issues/Issue43.scala
  modules/scala-support/src/test/scala/tests/generators/helpers/JacksonHelpersTest.scala
Labels: none

Add 'Reformat with scalafmt 3.9.2' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Update scalafmt-core to 3.9.3
  .scalafmt.conf
Labels: none

Reformat with scalafmt 3.9.3
  modules/java-support/src/test/scala/tests/generators/helpers/JacksonHelpersTest.scala
  modules/sample-dropwizard/src/test/scala/core/Jackson/JacksonBuilderParamTest.scala
  modules/sample-dropwizard/src/test/scala/core/Jackson/JacksonNestedTest.scala
  modules/sample-dropwizardVavr/src/test/scala/core/JacksonVavr/JacksonBuilderParamTest.scala
  modules/sample-dropwizardVavr/src/test/scala/core/JacksonVavr/JacksonNestedTest.scala
  modules/sample-springMvc/src/test/scala/examples/server/springMvc/pet/BaselineSpecs.scala
  modules/scala-akka-http/src/test/scala/core/issues/Issue43.scala
  modules/scala-support/src/test/scala/tests/generators/helpers/JacksonHelpersTest.scala
Labels: none

Add 'Reformat with scalafmt 3.9.3' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Update scalameta to 4.13.3
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support

Update org.eclipse.jdt.core to 3.41.0
  project/src/main/scala/modules/javaSupport.scala
Labels: java-support

Update sbt-ci-release to 1.9.3
  project/ci-release.sbt
Labels: none

Update scalafmt-core to 3.9.4
  .scalafmt.conf
Labels: none

Add 'Reformat with scalafmt 3.9.4' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Reformat with scalafmt 3.9.4
  modules/java-support/src/test/scala/tests/generators/helpers/JacksonHelpersTest.scala
  modules/sample-dropwizard/src/test/scala/core/Jackson/JacksonBuilderParamTest.scala
  modules/sample-dropwizard/src/test/scala/core/Jackson/JacksonNestedTest.scala
  modules/sample-dropwizardVavr/src/test/scala/core/JacksonVavr/JacksonBuilderParamTest.scala
  modules/sample-dropwizardVavr/src/test/scala/core/JacksonVavr/JacksonNestedTest.scala
  modules/sample-springMvc/src/test/scala/examples/server/springMvc/pet/BaselineSpecs.scala
  modules/scala-akka-http/src/test/scala/core/issues/Issue43.scala
  modules/scala-support/src/test/scala/tests/generators/helpers/JacksonHelpersTest.scala
Labels: none

Update scalameta to 4.13.4
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support

Update sbt-wartremover to 3.3.1
  project/wartremover.sbt
Labels: none

Update circe-core, circe-jawn, circe-parser to 0.14.12
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-akka-http, scala-http4s
