Repository guardrail-dev/guardrail, changes with the labels that .github/labeler.yml gives for each.
All labels: core, java-async-http, java-dropwizard, java-spring-mvc, java-support, scala-akka-http, scala-dropwizard, scala-endpoints, scala-http4s, scala-support, guardrail, cli

.github/labeler.yml:

core:
- modules/core/*
- modules/core/**/*
- project/src/main/scala/modules/core.scala

java-async-http:
- modules/java-async-http/*
- modules/java-async-http/**/*
- project/src/main/scala/modules/javaAsyncHttp.scala

java-dropwizard:
- modules/java-dropwizard/*
- modules/java-dropwizard/**/*
- project/src/main/scala/modules/javaDropwizard.scala

java-spring-mvc:
- modules/java-spring-mvc/*
- modules/java-spring-mvc/**/*
- project/src/main/scala/modules/javaSpringMvc.scala

java-support:
- modules/java-support/*
- modules/java-support/**/*
- project/src/main/scala/modules/javaSupport.scala

scala-akka-http:
- modules/scala-akka-http/*
- modules/scala-akka-http/**/*
- project/src/main/scala/modules/scalaAkkaHttp.scala

scala-dropwizard:
- modules/scala-dropwizard/*
- modules/scala-dropwizard/**/*
- project/src/main/scala/modules/scalaDropwizard.scala

scala-endpoints:
- modules/scala-endpoints/*
- modules/scala-endpoints/**/*
- project/src/main/scala/modules/scalaEndpoints.scala

scala-http4s:
- modules/scala-http4s/*
- modules/scala-http4s/**/*
- project/src/main/scala/modules/scalaHttp4s.scala

scala-support:
- modules/scala-support/*
- modules/scala-support/**/*
- project/src/main/scala/modules/scalaSupport.scala

guardrail:
- modules/codegen/*
- modules/codegen/**/*
- project/src/main/scala/modules/guardrail.scala

cli:
- modules/cli/*
- modules/cli/**/*
- project/src/main/scala/modules/cli.scala

set -e
  support/current-pr-labels.sh
Labels: none

Update sbt-scalafix to 0.9.33
  project/scalafix.sbt
Labels: none

Update spring-boot-starter-test, ... to 2.6.1
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update cats-core, cats-free, cats-kernel to 2.7.0
  project/src/main/scala/modules/core.scala
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: core, scala-akka-http, scala-dropwizard, scala-http4s

Update cats-effect to 3.3.0
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s

Typo, customArrayTypeName extractor used instead of custommapTypeName
  modules/core/src/main/scala/dev/guardrail/SwaggerUtil.scala
Labels: core

Update sbt-scalafmt to 2.4.5
  project/scalafmt.sbt
Labels: none

Update equalsverifier to 3.8
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard

Update org.eclipse.jdt.core to 3.28.0
  project/src/main/scala/modules/javaSupport.scala
Labels: java-support

Update http4s-blaze-client, ... to 0.23.7
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s

Update scalameta, semanticdb-scalac to 4.4.31
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support

Update dropwizard-core, dropwizard-forms, ... to 2.0.26
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, scala-dropwizard

Update sbt to 1.5.6
  project/build.properties
Labels: none

Update sbt to 1.5.6 (#1338)
  project/build.properties
Labels: none

Fix Http4sServerGenerator.apply() deprecation message
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sServerGenerator.scala
Labels: scala-http4s

Add possibility to provide custom circe printer for http4s
  modules/sample-http4s-v0_22/src/test/scala/core/Http4s/Http4sCustomCircePrinterTest.scala
  modules/sample-http4s/src/test/scala/core/Http4s/Http4sCustomCircePrinterTest.scala
  modules/sample/src/main/resources/customCircePrinter.yaml
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sClientGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sServerGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/ResponseADTHelper.scala
  project/src/main/scala/RegressionTests.scala
Labels: scala-http4s, scala-support

Update mockito-scala, ... to 1.16.49
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/javaSpringMvc.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, java-spring-mvc, scala-dropwizard

Update hibernate-validator to 6.2.1.Final
  project/src/main/scala/modules/scalaAkkaHttp.scala
Labels: scala-akka-http

Update equalsverifier to 3.8.1
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard

Update sbt to 1.5.7
  project/build.properties
Labels: none

Update sbt to 1.5.7 (#1344)
  project/build.properties
Labels: none

Update dropwizard-core, dropwizard-forms, ... to 2.0.27
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, scala-dropwizard

Update equalsverifier to 3.8.1 (#1343)
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard

Update swagger-parser to 2.0.29
  project/src/main/scala/modules/core.scala
Labels: core

Update jackson-annotations, jackson-core, ... to 2.13.1
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: scala-akka-http, scala-dropwizard

Update jackson-datatype-jsr310 to 2.13.1
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: scala-akka-http, scala-dropwizard

Update jackson-module-scala to 2.13.1
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: scala-akka-http, scala-dropwizard

Update akka-stream, akka-testkit to 2.6.18
  project/src/main/scala/modules/scalaAkkaHttp.scala
Labels: scala-akka-http

Update swagger-parser to 2.0.29 (#1346)
  project/src/main/scala/modules/core.scala
Labels: core

codecov action v2
  .github/workflows/ci.yml
Labels: none

Update dropwizard-core, dropwizard-forms, ... to 2.0.28
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, scala-dropwizard

Update sbt to 1.5.8
  project/build.properties
Labels: none

Update spring-boot-starter-test, ... to 2.6.2
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update cats-effect to 3.3.1
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s

fix hyperlink in README
  README.md
Labels: none

Update sbt to 1.5.8 (#1354)
  project/build.properties
Labels: none

Update sbt-scalafmt to 2.4.6
  project/scalafmt.sbt
Labels: none

Update sbt to 1.6.0
  project/build.properties
Labels: none

code coverage was reduced when http4s was duplicated to http4s 0.22.x specific tests
  codecov.yml
Labels: none

Update cats-effect to 3.3.1
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s
