Repository guardrail-dev/guardrail, changes with the labels that .github/labeler.yml gives for each.
All labels: core, java-async-http, java-dropwizard, java-spring-mvc, java-support, scala-akka-http, scala-dropwizard, scala-http4s, scala-zio-http, scala-support, cli

Update scalafmt-core to 3.9.8
  .scalafmt.conf
Labels: none

Add 'Reformat with scalafmt 3.9.8' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Update sbt-wartremover to 3.4.0
  project/wartremover.sbt
Labels: none

Update sbt-scalafmt to 2.5.5
  project/scalafmt.sbt
Labels: none

Update swagger-parser to 2.1.31
  project/src/main/scala/modules/core.scala
Labels: core

Update mdoc, sbt-mdoc to 2.7.2
  project/mdoc.sbt
Labels: none

Update dropwizard-core, dropwizard-forms, ... to 4.0.15
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, scala-dropwizard

Update spring-boot-starter-test, ... to 3.5.4
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update scalafmt-core to 3.9.9
  .scalafmt.conf
Labels: none

Add 'Reformat with scalafmt 3.9.9' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Update scalameta to 4.13.9
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support

Update hibernate-validator to 8.0.3.Final
  project/src/main/scala/modules/scalaAkkaHttp.scala
Labels: scala-akka-http

Update sbt-ci-release to 1.11.2
  project/ci-release.sbt
Labels: none

Update swagger-parser to 2.1.32
  project/src/main/scala/modules/core.scala
Labels: core

Update spring-boot-starter-test, ... to 3.5.5
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update dropwizard-core, dropwizard-forms, ... to 4.0.16
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, scala-dropwizard

Update swagger-parser to 2.1.33
  project/src/main/scala/modules/core.scala
Labels: core

Update org.eclipse.jdt.core to 3.43.0
  project/src/main/scala/modules/javaSupport.scala
Labels: java-support

Update sbt-wartremover to 3.4.1
  project/wartremover.sbt
Labels: none

Update dropwizard-core, dropwizard-forms, ... to 5.0.0
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, scala-dropwizard

Update swagger-parser to 2.1.34
  project/src/main/scala/modules/core.scala
Labels: core

Update scalafmt-core to 3.9.10
  .scalafmt.conf
Labels: none

Add 'Reformat with scalafmt 3.9.10' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Update scalameta to 4.13.10
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support

Update spring-boot-starter-test, ... to 3.5.6
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update http4s-circe, http4s-dsl to 0.23.31
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s

Update http4s-circe, http4s-dsl to 0.23.32
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s

Update circe-core, circe-jawn, circe-parser to 0.14.15
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-akka-http, scala-http4s

Update scala-library, scala-reflect to 2.13.17
  project/src/main/scala/Build.scala
Labels: none

Update sbt-scalafix to 0.14.4
  project/scalafix.sbt
Labels: none

Update swagger-parser to 2.1.35
  project/src/main/scala/modules/core.scala
Labels: core

Update mdoc, sbt-mdoc to 2.8.0
  project/mdoc.sbt
Labels: none

Update scalameta to 4.14.0
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support

Update scalafmt-core to 3.10.0
  .scalafmt.conf
Labels: none

Add 'Reformat with scalafmt 3.10.0' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Update scalafmt-core to 3.10.1
  .scalafmt.conf
Labels: none

Add 'Reformat with scalafmt 3.10.1' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Update scalameta to 4.14.1
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support

Update spring-boot-starter-test, ... to 3.5.7
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update http4s-circe, http4s-dsl to 0.23.33
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s

.github/labeler.yml:

core:
- modules/core/src/main/*
- modules/core/src/main/**/*
- project/src/main/scala/modules/core.scala

java-async-http:
- modules/java-async-http/src/main/*
- modules/java-async-http/src/main/**/*
- project/src/main/scala/modules/javaAsyncHttp.scala

java-dropwizard:
- modules/java-dropwizard/src/main/*
- modules/java-dropwizard/src/main/**/*
- project/src/main/scala/modules/javaDropwizard.scala

java-spring-mvc:
- modules/java-spring-mvc/src/main/*
- modules/java-spring-mvc/src/main/**/*
- project/src/main/scala/modules/javaSpringMvc.scala

java-support:
- modules/java-support/src/main/*
- modules/java-support/src/main/**/*
- project/src/main/scala/modules/javaSupport.scala

scala-akka-http:
- modules/scala-akka-http/src/main/*
- modules/scala-akka-http/src/main/**/*
- project/src/main/scala/modules/scalaAkkaHttp.scala

scala-dropwizard:
- modules/scala-dropwizard/src/main/*
- modules/scala-dropwizard/src/main/**/*
- project/src/main/scala/modules/scalaDropwizard.scala

scala-http4s:
- modules/scala-http4s/src/main/*
- modules/scala-http4s/src/main/**/*
- project/src/main/scala/modules/scalaHttp4s.scala

scala-zio-http:
- modules/scala-zio-http/*
- modules/scala-zio-http/**/*
- project/src/main/scala/modules/scalaZioHttp.scala

scala-support:
- modules/scala-support/src/main/*
- modules/scala-support/src/main/**/*
- project/src/main/scala/modules/scalaSupport.scala

cli:
- modules/cli/src/main/*
- modules/cli/src/main/**/*
- project/src/main/scala/modules/cli.scala
