Repository guardrail-dev/guardrail, changes with the labels that .github/labeler.yml gives for each.
All labels: core, java-async-http, java-dropwizard, java-spring-mvc, java-support, scala-akka-http, scala-dropwizard, scala-http4s, scala-zio-http, scala-support, cli

Update mdoc, sbt-mdoc to 2.6.5
  project/mdoc.sbt
Labels: none

Update spring-boot-starter-test, ... to 3.4.4
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update dropwizard-core, dropwizard-forms, ... to 4.0.13
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, scala-dropwizard

Update swagger-parser to 2.1.26
  project/src/main/scala/modules/core.scala
Labels: core

Update sbt-wartremover to 3.3.2
  project/wartremover.sbt
Labels: none

Update mdoc, sbt-mdoc to 2.7.0
  project/mdoc.sbt
Labels: none

Update mdoc, sbt-mdoc to 2.7.1
  project/mdoc.sbt
Labels: none

Update sbt-wartremover to 3.3.3
  project/wartremover.sbt
Labels: none

Update circe-core, circe-jawn, circe-parser to 0.14.13
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-akka-http, scala-http4s

Update spring-boot-starter-test, ... to 3.4.5
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update scalafmt-core to 3.9.5
  .scalafmt.conf
Labels: none

Reformat with scalafmt 3.9.5
  modules/java-support/src/test/scala/tests/generators/helpers/JacksonHelpersTest.scala
  modules/sample-dropwizard/src/test/scala/core/Jackson/JacksonBuilderParamTest.scala
  modules/sample-dropwizard/src/test/scala/core/Jackson/JacksonNestedTest.scala
  modules/sample-dropwizardVavr/src/test/scala/core/JacksonVavr/JacksonBuilderParamTest.scala
  modules/sample-dropwizardVavr/src/test/scala/core/JacksonVavr/JacksonNestedTest.scala
  modules/sample-springMvc/src/test/scala/examples/server/springMvc/pet/BaselineSpecs.scala
  modules/scala-akka-http/src/test/scala/core/issues/Issue43.scala
  modules/scala-support/src/test/scala/tests/generators/helpers/JacksonHelpersTest.scala
Labels: none

Add 'Reformat with scalafmt 3.9.5' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Update scalameta to 4.13.5
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support

Update scalafmt-core to 3.9.6
  .scalafmt.conf
Labels: none

Add 'Reformat with scalafmt 3.9.6' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Reformat with scalafmt 3.9.6
  modules/java-support/src/test/scala/tests/generators/helpers/JacksonHelpersTest.scala
  modules/sample-dropwizard/src/test/scala/core/Jackson/JacksonBuilderParamTest.scala
  modules/sample-dropwizard/src/test/scala/core/Jackson/JacksonNestedTest.scala
  modules/sample-dropwizardVavr/src/test/scala/core/JacksonVavr/JacksonBuilderParamTest.scala
  modules/sample-dropwizardVavr/src/test/scala/core/JacksonVavr/JacksonNestedTest.scala
  modules/sample-springMvc/src/test/scala/examples/server/springMvc/pet/BaselineSpecs.scala
  modules/scala-akka-http/src/test/scala/core/issues/Issue43.scala
  modules/scala-support/src/test/scala/tests/generators/helpers/JacksonHelpersTest.scala
Labels: none

Update sbt-scalafix to 0.14.3
  project/scalafix.sbt
Labels: none

Update swagger-parser to 2.1.27
  project/src/main/scala/modules/core.scala
Labels: core

Update scalameta to 4.13.6
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support

Update swagger-parser to 2.1.28
  project/src/main/scala/modules/core.scala
Labels: core

Update sbt-wartremover to 3.3.4
  project/wartremover.sbt
Labels: none

Update mockito-scala, ... to 1.17.44
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/javaSpringMvc.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, java-spring-mvc, scala-dropwizard

Update spring-boot-starter-test, ... to 3.4.6
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update sbt-ci-release to 1.11.0
  project/ci-release.sbt
Labels: none

Update spring-boot-starter-test, ... to 3.5.0
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update dropwizard-core, dropwizard-forms, ... to 4.0.14
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, scala-dropwizard

Update swagger-parser to 2.1.29
  project/src/main/scala/modules/core.scala
Labels: core

Update scalafmt-core to 3.9.7
  .scalafmt.conf
Labels: none

Add 'Reformat with scalafmt 3.9.7' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Update sbt-ci-release to 1.11.1
  project/ci-release.sbt
Labels: none

Update jersey-test-framework-provider-grizzly2 to 2.47
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, scala-dropwizard

Update sbt-wartremover to 3.3.5
  project/wartremover.sbt
Labels: none

Update org.eclipse.jdt.core to 3.42.0
  project/src/main/scala/modules/javaSupport.scala
Labels: java-support

Update circe-core, circe-jawn, circe-parser to 0.14.14
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-akka-http, scala-http4s

Update scalameta to 4.13.7
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support

Update spring-boot-starter-test, ... to 3.5.1
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update swagger-parser to 2.1.30
  project/src/main/scala/modules/core.scala
Labels: core

Update spring-boot-starter-test, ... to 3.5.3
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update scalameta to 4.13.8
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support

.github/labeler.yml:

core:
- modules/core/src/main/*
- modules/core/src/main/**/*
- project/src/main/scala/modules/core.scala

java-async-http:
- modules/java-async-http/src/main/*
- modules/java-async-http/src/main/**/*
- project/src/main/scala/modules/javaAsyncHttp.scala

java-dropwizard:
- modules/java-dropwizard/src/main/*
- modules/java-dropwizard/src/main/**/*
- project/src/main/scala/modules/javaDropwizard.scala

java-spring-mvc:
- modules/java-spring-mvc/src/main/*
- modules/java-spring-mvc/src/main/**/*
- project/src/main/scala/modules/javaSpringMvc.scala

java-support:
- modules/java-support/src/main/*
- modules/java-support/src/main/**/*
- project/src/main/scala/modules/javaSupport.scala

scala-akka-http:
- modules/scala-akka-http/src/main/*
- modules/scala-akka-http/src/main/**/*
- project/src/main/scala/modules/scalaAkkaHttp.scala

scala-dropwizard:
- modules/scala-dropwizard/src/main/*
- modules/scala-dropwizard/src/main/**/*
- project/src/main/scala/modules/scalaDropwizard.scala

scala-http4s:
- modules/scala-http4s/src/main/*
- modules/scala-http4s/src/main/**/*
- project/src/main/scala/modules/scalaHttp4s.scala

scala-zio-http:
- modules/scala-zio-http/*
- modules/scala-zio-http/**/*
- project/src/main/scala/modules/scalaZioHttp.scala

scala-support:
- modules/scala-support/src/main/*
- modules/scala-support/src/main/**/*
- project/src/main/scala/modules/scalaSupport.scala

cli:
- modules/cli/src/main/*
- modules/cli/src/main/**/*
- project/src/main/scala/modules/cli.scala
