Repository guardrail-dev/guardrail, changes with the labels that .github/labeler.yml gives for each.
All labels: core, java-async-http, java-dropwizard, java-spring-mvc, java-support, scala-akka-http, scala-dropwizard, scala-http4s, scala-zio-http, scala-support, cli

.github/labeler.yml:

core:
- modules/core/src/main/*
- modules/core/src/main/**/*
- project/src/main/scala/modules/core.scala

java-async-http:
- modules/java-async-http/src/main/*
- modules/java-async-http/src/main/**/*
- project/src/main/scala/modules/javaAsyncHttp.scala

java-dropwizard:
- modules/java-dropwizard/src/main/*
- modules/java-dropwizard/src/main/**/*
- project/src/main/scala/modules/javaDropwizard.scala

java-spring-mvc:
- modules/java-spring-mvc/src/main/*
- modules/java-spring-mvc/src/main/**/*
- project/src/main/scala/modules/javaSpringMvc.scala

java-support:
- modules/java-support/src/main/*
- modules/java-support/src/main/**/*
- project/src/main/scala/modules/javaSupport.scala

scala-akka-http:
- modules/scala-akka-http/src/main/*
- modules/scala-akka-http/src/main/**/*
- project/src/main/scala/modules/scalaAkkaHttp.scala

scala-dropwizard:
- modules/scala-dropwizard/src/main/*
- modules/scala-dropwizard/src/main/**/*
- project/src/main/scala/modules/scalaDropwizard.scala

scala-http4s:
- modules/scala-http4s/src/main/*
- modules/scala-http4s/src/main/**/*
- project/src/main/scala/modules/scalaHttp4s.scala

scala-zio-http:
- modules/scala-zio-http/*
- modules/scala-zio-http/**/*
- project/src/main/scala/modules/scalaZioHttp.scala

scala-support:
- modules/scala-support/src/main/*
- modules/scala-support/src/main/**/*
- project/src/main/scala/modules/scalaSupport.scala

cli:
- modules/cli/src/main/*
- modules/cli/src/main/**/*
- project/src/main/scala/modules/cli.scala

Correctly handle missing GITHUB_TOKEN as well as urlencoding gh_api calls
  support/current-pr-labels.sh
Labels: none

Skip local tagging
  .github/workflows/ci.yml
  support/apply-pr-label-locally.sh
Labels: none

Reflect "patch" segment in version policy
  project/src/main/scala/Build.scala
Labels: none

Extending Issue195 with failing tests
  modules/sample-akkaHttp/src/test/scala/core/issues/Issue195.scala
  modules/sample/src/main/resources/issues/issue195.yaml
Labels: none

Constraining imports
  build.sbt
Labels: none

Defer asking for a new type name
  modules/core/src/main/scala/dev/guardrail/core/resolvers/ModelResolver.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonProtocolGenerator.scala
Labels: core, java-support, scala-support

Simplify nested codepaths
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
Labels: scala-support

Build forward
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
Labels: scala-support

Reflowing flatMap to be a for comprehension
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
Labels: scala-support

Copying oneOf changes over to CirceRefined
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
Labels: scala-support

Removing deprecated support script
  support/apply-pr-label-locally.sh
Labels: none

Removing verbose version bumping logic
  project/src/main/scala/Build.scala
Labels: none

Target is more strict than I thought
  modules/core/src/main/scala/dev/guardrail/core/resolvers/ModelResolver.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonGenerator.scala
  modules/sample-akkaHttp/src/test/scala/core/issues/Issue195.scala
  modules/sample/src/main/resources/issues/issue195.yaml
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonProtocolGenerator.scala
Labels: core, java-support, scala-support

We are only emitting Nested
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
Labels: scala-support

Blindly converting String to NEL[String]
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
Labels: scala-support

WriteTree should not hide differences if the files are the same length
  modules/core/src/main/scala/dev/guardrail/WriteTree.scala
Labels: core

Extending wrapToObject with statements
  modules/core/src/main/scala/dev/guardrail/terms/LanguageTerms.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/JavaGenerator.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/ScalaGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonProtocolGenerator.scala
Labels: core, java-support, scala-support

Constrain fromOneOf to just ClassDefinition
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
Labels: scala-support

Utilize fromOneOf in prepareProperties
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
Labels: scala-support

Catch anonymous oneOf instances
  modules/sample-akkaHttp/src/test/scala/core/issues/Issue195.scala
  modules/sample/src/main/resources/issues/issue195.yaml
Labels: none

Extending oneOf with unwrapped primitive types
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
Labels: scala-support

Reflow to be a for comprehension
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
Labels: scala-support

Extend #1905 to CirceRefinedProtocolGenerator
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
Labels: scala-support

Adding a test case for #1642
  modules/sample/src/main/resources/issues/issue222.yaml
Labels: none

Justify syntax import on 2.13
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonProtocolGenerator.scala
Labels: scala-support

Distinct DTO parameter names
  modules/sample/src/main/resources/issues/issue222.yaml
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonProtocolGenerator.scala
Labels: scala-support

Fix parser warning for #264
  modules/sample/src/main/resources/issues/issue264.yaml
Labels: none

Switching back to main release-drafter
  .github/workflows/release-drafter.yml
Labels: none

Modifying release pipeline to support milestone and RC releases
  .github/workflows/release.yml
Labels: none

Also run release task for prereleases
  .github/workflows/release.yml
Labels: none

prerelease does not seem to be a valid filter, so just triggering on release:published
  .github/workflows/release.yml
Labels: none

Modernizing plugin docs
  docs/plugins/make.md
Labels: none

Broken microsite links
  docs/extensions.md
  docs/plugins/maven.md
Labels: none

switch Gradle Plugin Portal link to dev.guardrail
  README.md
Labels: none

makefile verbiage
  docs/plugins/make.md
Labels: none

Updating master
  extensions.md
  plugins/make.md
  plugins/maven.md
Labels: none

Including Tracker info in lookupStatusCode
  modules/core/src/main/scala/dev/guardrail/terms/Responses.scala
  modules/core/src/main/scala/dev/guardrail/terms/framework/FrameworkTerms.scala
  modules/java-dropwizard/src/main/scala/dev/guardrail/generators/java/dropwizard/DropwizardGenerator.scala
  modules/java-spring-mvc/src/main/scala/dev/guardrail/generators/java/springMvc/SpringMvcGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpGenerator.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sGenerator.scala
  modules/scala-support/src/test/scala/tests/circe/ArrayValidationTest.scala
  modules/scala-support/src/test/scala/tests/circe/BigObjectSpec.scala
  modules/scala-support/src/test/scala/tests/circe/ValidationTest.scala
Labels: core, java-dropwizard, java-spring-mvc, scala-akka-http, scala-dropwizard, scala-http4s

Update sbt-version-policy to 3.2.0
  project/version-policy.sbt
Labels: none

Update jackson-annotations, jackson-core, ... to 2.16.1
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: scala-akka-http, scala-dropwizard

Update jackson-datatype-jsr310 to 2.16.1
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: scala-akka-http, scala-dropwizard
