Repository guardrail-dev/guardrail, changes with the labels that .github/labeler.yml gives for each.
All labels: core, java-async-http, java-dropwizard, java-spring-mvc, java-support, scala-akka-http, scala-dropwizard, scala-endpoints, scala-http4s, scala-support, guardrail, cli

Update sbt to 1.6.1
  project/build.properties
Labels: none

Update junit-interface to 0.13.3
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, scala-dropwizard

Update sbt to 1.6.1 (#1361)
  project/build.properties
Labels: none

Update cats-effect to 3.3.2
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s

Update cats-effect to 3.3.3
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s

Update equalsverifier to 3.8.2
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard

Don't omit empty parameterlist
  modules/sample-http4s-v0_22/src/test/scala/core/issues/Issue455.scala
  modules/sample-http4s/src/test/scala/core/Http4s/Http4sRoundTripTest.scala
  modules/sample-http4s/src/test/scala/core/issues/Issue455.scala
Labels: none

Split out Java frameworks
  .github/workflows/ci.yml
Labels: none

Bumping Dropwizard to 2.0.
  modules/java-dropwizard/src/main/scala/dev/guardrail/generators/java/dropwizard/DropwizardServerGenerator.scala
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard

Update javaparser-symbol-solver-core to 3.24.0
  project/src/main/scala/modules/javaSupport.scala
Labels: java-support

Update cats-effect to 3.3.4
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s

suppress warnings for unchecked narrowing
  modules/microsite/src/main/scala/DocsHelpers.scala
Labels: none

Update sbt-updates to 0.6.1
  project/plugins.sbt
Labels: none

Update scalameta, semanticdb-scalac to 4.4.32
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support

Update sbt-scoverage to 1.9.3
  project/scoverage.sbt
Labels: none

Update sbt-scalafix to 0.9.34
  project/scalafix.sbt
Labels: none

Update slf4j-simple to 1.7.33
  project/src/main/scala/modules/root.scala
Labels: none

Fake bincompat test
  modules/core/src/main/scala/dev/guardrail/Args.scala
  modules/core/src/main/scala/dev/guardrail/Context.scala
  modules/microsite/src/main/scala/DocsHelpers.scala
Labels: core

Update mockito-scala, ... to 1.16.55
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/javaSpringMvc.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, java-spring-mvc, scala-dropwizard

Update scalameta, semanticdb-scalac to 4.4.33
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support

Update mockito-scala, ... to 1.17.0
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/javaSpringMvc.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, java-spring-mvc, scala-dropwizard

Update spring-boot-starter-test, ... to 2.6.3
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update mockito-scala, ... to 1.17.0 (#1379)
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/javaSpringMvc.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, java-spring-mvc, scala-dropwizard

Update scalatest to 3.2.11
  project/src/main/scala/Dependencies.scala
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/javaSpringMvc.scala
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
  project/src/main/scala/modules/scalaEndpoints.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: java-dropwizard, java-spring-mvc, scala-akka-http, scala-dropwizard, scala-endpoints, scala-http4s

Update slf4j-simple to 1.7.34
  project/src/main/scala/modules/root.scala
Labels: none

Update scalatest to 3.2.11 (#1381)
  project/src/main/scala/Dependencies.scala
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/javaSpringMvc.scala
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
  project/src/main/scala/modules/scalaEndpoints.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: java-dropwizard, java-spring-mvc, scala-akka-http, scala-dropwizard, scala-endpoints, scala-http4s

Update slf4j-simple to 1.7.35
  project/src/main/scala/modules/root.scala
Labels: none

Update equalsverifier to 3.8.3
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard

Update http4s-blaze-client, ... to 0.23.8
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s

Ensure that example generation forks
  build.sbt
Labels: none

Attempt to choose a random port to avoid bind conflicts
  modules/sample-dropwizardVavr/src/test/java/core/DropwizardVavr/DropwizardJsr310Test.java
Labels: none

Update scala-library to 2.13.8
  project/src/main/scala/Build.scala
Labels: none

Update equalsverifier to 3.8.3 (#1384)
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard

Update slf4j-simple to 1.7.35 (#1383)
  project/src/main/scala/modules/root.scala
Labels: none

Unused import
  modules/codegen/src/test/scala/tests/core/DereferencingAliasesSpec.scala
Labels: guardrail

Avoid newly-reserved enum for identifiers
  modules/core/src/main/scala/dev/guardrail/generators/ProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
Labels: core, scala-support

Avoid deprecated procedure syntax
  modules/scala-http4s/src/test/scala/core/issues/Issue144.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue165.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue166.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue222.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue223.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue225.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue255.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue260.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue370.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue416.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue420.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue429.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue538.scala
  modules/scala-http4s/src/test/scala/tests/core/FullyQualifiedNames.scala
  modules/scala-http4s/src/test/scala/tests/generators/http4s/BasicTest.scala
  modules/scala-http4s/src/test/scala/tests/generators/http4s/Http4sServerTest.scala
  modules/scala-http4s/src/test/scala/tests/generators/http4s/client/DefaultParametersTest.scala
Labels: scala-http4s

.github/labeler.yml:

core:
- modules/core/*
- modules/core/**/*
- project/src/main/scala/modules/core.scala

java-async-http:
- modules/java-async-http/*
- modules/java-async-http/**/*
- project/src/main/scala/modules/javaAsyncHttp.scala

java-dropwizard:
- modules/java-dropwizard/*
- modules/java-dropwizard/**/*
- project/src/main/scala/modules/javaDropwizard.scala

java-spring-mvc:
- modules/java-spring-mvc/*
- modules/java-spring-mvc/**/*
- project/src/main/scala/modules/javaSpringMvc.scala

java-support:
- modules/java-support/*
- modules/java-support/**/*
- project/src/main/scala/modules/javaSupport.scala

scala-akka-http:
- modules/scala-akka-http/*
- modules/scala-akka-http/**/*
- project/src/main/scala/modules/scalaAkkaHttp.scala

scala-dropwizard:
- modules/scala-dropwizard/*
- modules/scala-dropwizard/**/*
- project/src/main/scala/modules/scalaDropwizard.scala

scala-endpoints:
- modules/scala-endpoints/*
- modules/scala-endpoints/**/*
- project/src/main/scala/modules/scalaEndpoints.scala

scala-http4s:
- modules/scala-http4s/*
- modules/scala-http4s/**/*
- project/src/main/scala/modules/scalaHttp4s.scala

scala-support:
- modules/scala-support/*
- modules/scala-support/**/*
- project/src/main/scala/modules/scalaSupport.scala

guardrail:
- modules/codegen/*
- modules/codegen/**/*
- project/src/main/scala/modules/guardrail.scala

cli:
- modules/cli/*
- modules/cli/**/*
- project/src/main/scala/modules/cli.scala
