Repository guardrail-dev/guardrail, changes with the labels that .github/labeler.yml gives for each.
All labels: core, java-async-http, java-dropwizard, java-spring-mvc, java-support, scala-akka-http, scala-dropwizard, scala-http4s, scala-zio-http, scala-support, cli

Add 'Reformat with scalafmt 3.10.7' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Update sbt, sbt-dependency-tree, ... to 1.12.3
  project/build.properties
Labels: none

Update swagger-parser to 2.1.38
  project/src/main/scala/modules/core.scala
Labels: core

Update spring-boot-starter-test, ... to 4.0.3
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update sbt, sbt-dependency-tree, ... to 1.12.4
  project/build.properties
Labels: none

Update sbt-scalafix to 0.14.6
  project/scalafix.sbt
Labels: none

Update sbt, sbt-dependency-tree, ... to 1.12.5
  project/build.properties
Labels: none

Update swagger-parser to 2.1.39
  project/src/main/scala/modules/core.scala
Labels: core

Update org.eclipse.jdt.core to 3.45.0
  project/src/main/scala/modules/javaSupport.scala
Labels: java-support

Update sbt-wartremover to 3.5.6
  project/wartremover.sbt
Labels: none

Update sbt, sbt-dependency-tree, ... to 1.12.6
  project/build.properties
Labels: none

Update spring-boot-starter-test, ... to 4.0.4
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update sbt, sbt-dependency-tree, ... to 1.12.7
  project/build.properties
Labels: none

Update sbt, sbt-dependency-tree, ... to 1.12.8
  project/build.properties
Labels: none

Update spring-boot-starter-test, ... to 4.0.5
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update sbt, sbt-dependency-tree, ... to 1.12.9
  project/build.properties
Labels: none

Update http4s-circe, http4s-dsl to 0.23.34
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s

Update scalafmt-core to 3.11.0
  .scalafmt.conf
Labels: none

Add 'Reformat with scalafmt 3.11.0' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Update swagger-parser to 2.1.40
  project/src/main/scala/modules/core.scala
Labels: core

Update spring-boot-starter-test, ... to 4.0.6
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update sbt, sbt-dependency-tree, ... to 1.12.10
  project/build.properties
Labels: none

Update sbt-wartremover to 3.5.7
  project/wartremover.sbt
Labels: none

Update swagger-parser to 2.1.41
  project/src/main/scala/modules/core.scala
Labels: core

Update sbt, sbt-dependency-tree, ... to 1.12.11
  project/build.properties
Labels: none

Update swagger-parser to 2.1.42
  project/src/main/scala/modules/core.scala
Labels: core

Update sbt-wartremover to 3.5.8
  project/wartremover.sbt
Labels: none

Update swagger-parser to 2.1.43
  project/src/main/scala/modules/core.scala
Labels: core

Update swagger-parser to 2.1.44
  project/src/main/scala/modules/core.scala
Labels: core

Update sbt, sbt-dependency-tree, ... to 1.12.12
  project/build.properties
Labels: none

Update sbt-wartremover to 3.6.0
  project/wartremover.sbt
Labels: none

Skip Codecov upload for fork PRs
  .github/workflows/ci.yml
Labels: none

Update CI Java setup
  .github/workflows/ci.yml
Labels: none

Make CI label lookup environment consistent
  .github/workflows/ci.yml
Labels: none

Update sbt-wartremover to 3.6.1
  project/wartremover.sbt
Labels: none

Update sbt-wartremover to 3.5.2
  project/wartremover.sbt
Labels: none

Update scalameta to 4.14.5
  project/scalameta.sbt
Labels: none

Add 'Reformat with scalafmt 3.10.4' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: none

Update scalafmt-core to 3.10.4
  .scalafmt.conf
Labels: none

Update scala-library, scala-reflect to 2.13.18
  project/src/main/scala/Build.scala
Labels: none

.github/labeler.yml:

core:
- modules/core/src/main/*
- modules/core/src/main/**/*
- project/src/main/scala/modules/core.scala

java-async-http:
- modules/java-async-http/src/main/*
- modules/java-async-http/src/main/**/*
- project/src/main/scala/modules/javaAsyncHttp.scala

java-dropwizard:
- modules/java-dropwizard/src/main/*
- modules/java-dropwizard/src/main/**/*
- project/src/main/scala/modules/javaDropwizard.scala

java-spring-mvc:
- modules/java-spring-mvc/src/main/*
- modules/java-spring-mvc/src/main/**/*
- project/src/main/scala/modules/javaSpringMvc.scala

java-support:
- modules/java-support/src/main/*
- modules/java-support/src/main/**/*
- project/src/main/scala/modules/javaSupport.scala

scala-akka-http:
- modules/scala-akka-http/src/main/*
- modules/scala-akka-http/src/main/**/*
- project/src/main/scala/modules/scalaAkkaHttp.scala

scala-dropwizard:
- modules/scala-dropwizard/src/main/*
- modules/scala-dropwizard/src/main/**/*
- project/src/main/scala/modules/scalaDropwizard.scala

scala-http4s:
- modules/scala-http4s/src/main/*
- modules/scala-http4s/src/main/**/*
- project/src/main/scala/modules/scalaHttp4s.scala

scala-zio-http:
- modules/scala-zio-http/*
- modules/scala-zio-http/**/*
- project/src/main/scala/modules/scalaZioHttp.scala

scala-support:
- modules/scala-support/src/main/*
- modules/scala-support/src/main/**/*
- project/src/main/scala/modules/scalaSupport.scala

cli:
- modules/cli/src/main/*
- modules/cli/src/main/**/*
- project/src/main/scala/modules/cli.scala
