Repository guardrail-dev/guardrail, changes with the labels that .github/labeler.yml gives for each.
All labels: core, java-async-http, java-dropwizard, java-spring-mvc, java-support, scala-akka-http, scala-dropwizard, scala-http4s, scala-zio-http, scala-support, cli

.github/labeler.yml:

core:
- modules/core/src/main/*
- modules/core/src/main/**/*
- project/src/main/scala/modules/core.scala

java-async-http:
- modules/java-async-http/src/main/*
- modules/java-async-http/src/main/**/*
- project/src/main/scala/modules/javaAsyncHttp.scala

java-dropwizard:
- modules/java-dropwizard/src/main/*
- modules/java-dropwizard/src/main/**/*
- project/src/main/scala/modules/javaDropwizard.scala

java-spring-mvc:
- modules/java-spring-mvc/src/main/*
- modules/java-spring-mvc/src/main/**/*
- project/src/main/scala/modules/javaSpringMvc.scala

java-support:
- modules/java-support/src/main/*
- modules/java-support/src/main/**/*
- project/src/main/scala/modules/javaSupport.scala

scala-akka-http:
- modules/scala-akka-http/src/main/*
- modules/scala-akka-http/src/main/**/*
- project/src/main/scala/modules/scalaAkkaHttp.scala

scala-dropwizard:
- modules/scala-dropwizard/src/main/*
- modules/scala-dropwizard/src/main/**/*
- project/src/main/scala/modules/scalaDropwizard.scala

scala-http4s:
- modules/scala-http4s/src/main/*
- modules/scala-http4s/src/main/**/*
- project/src/main/scala/modules/scalaHttp4s.scala

scala-zio-http:
- modules/scala-zio-http/*
- modules/scala-zio-http/**/*
- project/src/main/scala/modules/scalaZioHttp.scala

scala-support:
- modules/scala-support/src/main/*
- modules/scala-support/src/main/**/*
- project/src/main/scala/modules/scalaSupport.scala

cli:
- modules/cli/src/main/*
- modules/cli/src/main/**/*
- project/src/main/scala/modules/cli.scala

Update jackson-module-scala to 2.16.1
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: scala-akka-http, scala-dropwizard

Update javaparser-symbol-solver-core to 3.25.8
  project/src/main/scala/modules/javaSupport.scala
Labels: java-support

Update dropwizard-core, dropwizard-forms, ... to 4.0.5
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, scala-dropwizard

Update dropwizard-vavr to 4.0.0-2
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard

Update equalsverifier to 3.15.6
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard

Update http4s-blaze-client, ... to 0.23.16
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s

Update sbt, sbt-dependency-tree to 1.9.8
  project/build.properties
Labels: none

Update mdoc, sbt-mdoc to 2.5.2
  project/mdoc.sbt
Labels: none

Update scalameta to 4.8.15
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support

Update slf4j-simple to 2.0.11
  project/src/main/scala/modules/root.scala
Labels: none

Update spring-boot-starter-test, ... to 3.2.1
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update sbt-wartremover, wartremover to 3.1.6
  project/wartremover.sbt
Labels: none

Update cats-effect to 3.5.3
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s

Update swagger-parser to 2.1.20
  project/src/main/scala/modules/core.scala
Labels: core

Update http4s-circe, http4s-dsl to 0.23.25
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s

Update spring-boot-starter-test, ... to 3.2.2
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update dropwizard-core, dropwizard-forms, ... to 4.0.6
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, scala-dropwizard

Update scalafmt-core to 3.8.0
  .scalafmt.conf
Labels: none

Update scalatest to 3.2.18
  project/src/main/scala/Dependencies.scala
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/javaSpringMvc.scala
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: java-dropwizard, java-spring-mvc, scala-akka-http, scala-dropwizard, scala-http4s

Update sbt-scoverage to 2.0.10
  project/scoverage.sbt
Labels: none

Update slf4j-simple to 2.0.12
  project/src/main/scala/modules/root.scala
Labels: none

Update refined, refined-cats to 0.11.1
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-akka-http, scala-http4s

Update equalsverifier to 3.15.7
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard

Update sbt, sbt-dependency-tree to 1.9.9
  project/build.properties
Labels: none

Update spring-boot-starter-test, ... to 3.2.3
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: java-spring-mvc

Update sbt-scoverage to 2.0.11
  project/scoverage.sbt
Labels: none

Update kind-projector to 0.13.3
  project/src/main/scala/Build.scala
Labels: none

Update scala-library, scala-reflect to 2.12.19
  project/src/main/scala/Build.scala
Labels: none

Update scala-library, scala-reflect to 2.13.13
  project/src/main/scala/Build.scala
Labels: none

Update sbt-scalafix to 0.12.0
  project/scalafix.sbt
Labels: none

Update equalsverifier to 3.15.8
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard

Update javaparser-symbol-solver-core to 3.25.9
  project/src/main/scala/modules/javaSupport.scala
Labels: java-support

Update dropwizard-core, dropwizard-forms, ... to 4.0.7
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, scala-dropwizard

Update swagger-parser to 2.1.21
  project/src/main/scala/modules/core.scala
Labels: core

Update http4s-circe, http4s-dsl to 0.23.26
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s

Update cats-effect to 3.5.4
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s

Update jackson-annotations, jackson-core, ... to 2.16.2
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: scala-akka-http, scala-dropwizard

Update jackson-datatype-jsr310 to 2.16.2
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: scala-akka-http, scala-dropwizard

Update jackson-module-scala to 2.16.2
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: scala-akka-http, scala-dropwizard

Update org.eclipse.jdt.core to 3.37.0
  project/src/main/scala/modules/javaSupport.scala
Labels: java-support
