Repository guardrail-dev/guardrail, pull requests merged in 2021-11, with the labels that each got.

#1315 Update scala-collection-compat to 2.6.0
  project/src/main/scala/Build.scala
  project/src/main/scala/modules/core.scala
Labels: core, chore

#1317 Update sbt-scalafix to 0.9.32
  project/scalafix.sbt
Labels: chore

#1311 Update sbt-scoverage to 1.9.2
  project/scoverage.sbt
Labels: chore

#1316 Move http4s response defs to local scope
  modules/sample-http4s/src/test/scala/core/Http4s/Http4sCustomExtractorTest.scala
  modules/sample-http4s/src/test/scala/core/Http4s/Http4sDebugBodyTest.scala
  modules/sample-http4s/src/test/scala/core/Http4s/Http4sFullTracerTest.scala
  modules/sample-http4s/src/test/scala/core/Http4s/Http4sMixedContentTypesTest.scala
  modules/sample-http4s/src/test/scala/core/Http4s/Http4sNonStringEnumerationTest.scala
  modules/sample-http4s/src/test/scala/core/Http4s/Http4sRawServerTest.scala
  modules/sample-http4s/src/test/scala/core/Http4s/Http4sRoundTripTest.scala
  modules/sample-http4s/src/test/scala/core/issues/Issue121.scala
  modules/sample-http4s/src/test/scala/core/issues/Issue1229.scala
  modules/sample-http4s/src/test/scala/core/issues/Issue148.scala
  modules/sample-http4s/src/test/scala/core/issues/Issue455.scala
  modules/sample-http4s/src/test/scala/core/issues/Issue542.scala
  modules/sample-http4s/src/test/scala/generators/Http4s/Client/contentType/Http4sTextPlainTest.scala
  modules/sample-http4s/src/test/scala/generators/Http4s/RoundTrip/Http4sCustomHeadersTest.scala
  modules/sample-http4s/src/test/scala/generators/Http4s/RoundTrip/Http4sFormDataTest.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sServerGenerator.scala
Labels: scala-http4s, minor

#1319 Update spring-boot-starter-test, ... to 2.5.7
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: chore, java-spring-mvc

#1309 Update akka-http, akka-http-testkit to 10.2.7
  project/src/main/scala/modules/scalaAkkaHttp.scala
Labels: scala-akka-http, chore

#1310 Update scalameta to 4.4.30
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support, chore

#1320 Update sbt-scalafmt to 2.4.4
  project/scalafmt.sbt
Labels: chore

#1321 Update spring-boot-starter-test, ... to 2.6.0
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: chore, java-spring-mvc

#1322 Resolving CLI runner dependency issues
  build.sbt
Labels: chore

#1236 http4s can return fs2.Stream[F, Byte] in OpenAPI 3.x
  modules/sample/src/main/resources/binary3.yaml
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sClientGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sServerGenerator.scala
  project/src/main/scala/RegressionTests.scala
Labels: scala-http4s

#1324 Test bincompat CI extensions
  .github/workflows/ci.yml
  project/src/main/scala/Build.scala
  support/current-pr-labels.sh
Labels: minor

#1326 Update sbt-scalafix to 0.9.33
  project/scalafix.sbt
  support/current-pr-labels.sh
Labels: chore

#1330 Typo, customArrayTypeName extractor used instead of customMapTypeName
  modules/core/src/main/scala/dev/guardrail/SwaggerUtil.scala
Labels: bug

#1328 Update cats-core, cats-free, cats-kernel to 2.7.0
  project/src/main/scala/modules/core.scala
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: chore

#1327 Update spring-boot-starter-test, ... to 2.6.1
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: chore, java-spring-mvc

#1329 Update cats-effect to 3.3.0
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s, chore
