Repository guardrail-dev/guardrail, pull requests merged in 2022-02, with the labels that each got.

#1390 Update equalsverifier to 3.9
  project/src/main/scala/modules/javaDropwizard.scala
Labels: chore

#1391 Update sbt to 1.6.2
  project/build.properties
Labels: chore

#1392 Update http4s-blaze-client, ... to 0.23.10
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s, chore

#1393 Update scalameta to 4.4.34
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support, chore

#1394 Update sbt-updates to 0.6.2
  project/plugins.sbt
Labels: chore

#1396 Update sbt-wartremover, wartremover to 2.4.17
  project/wartremover.sbt
Labels: chore

#1397 Update slf4j-simple to 1.7.36
  project/src/main/scala/modules/root.scala
Labels: chore

#1359 Unify model and prop meta
  modules/core/src/main/scala/dev/guardrail/SwaggerUtil.scala
  modules/core/src/main/scala/dev/guardrail/generators/ProtocolGenerator.scala
  modules/microsite/src/main/scala/DocsHelpers.scala
  modules/sample/src/main/resources/response-headers.yaml
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sServerGenerator.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue144.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue165.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue166.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue223.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue225.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue255.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue260.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue370.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue416.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue420.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue429.scala
  modules/scala-http4s/src/test/scala/tests/core/FullyQualifiedNames.scala
  modules/scala-http4s/src/test/scala/tests/generators/http4s/client/DefaultParametersTest.scala
Labels: scala-http4s, core, minor

#1398 Update hibernate-validator to 6.2.2.Final
  project/src/main/scala/modules/scalaAkkaHttp.scala
Labels: scala-akka-http, chore

#1395 Update swagger-parser to 2.0.30
  project/src/main/scala/modules/core.scala
Labels: core, chore

#1402 Fix `required` not being followed by `$ref`'d parameters
  modules/codegen/src/test/scala/tests/core/DereferencingAliasesSpec.scala
  modules/core/src/main/scala/dev/guardrail/SwaggerUtil.scala
  modules/core/src/main/scala/dev/guardrail/generators/LanguageParameter.scala
  modules/core/src/main/scala/dev/guardrail/terms/SwaggerTerms.scala
Labels: bug, core, minor

#1403 Promoting determining packages from tags to a feature instead of deprecated
  build.sbt
  modules/cli/src/main/scala/dev/guardrail/cli/CLICommon.scala
  modules/core/src/main/scala/dev/guardrail/Args.scala
  modules/core/src/main/scala/dev/guardrail/Common.scala
  modules/core/src/main/scala/dev/guardrail/Context.scala
  modules/core/src/main/scala/dev/guardrail/generators/ProtocolGenerator.scala
  modules/core/src/main/scala/dev/guardrail/generators/SwaggerGenerator.scala
  modules/core/src/main/scala/dev/guardrail/terms/SwaggerTerms.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonProtocolGenerator.scala
  project/src/main/scala/RegressionTests.scala
Labels: minor

#1408 Enhancing RawParameterType to ReifiedRawType
  modules/codegen/src/test/scala/dev/guardrail/generators/LanguageParameterTestAdapter.scala
  modules/core/src/main/scala/dev/guardrail/SwaggerUtil.scala
  modules/core/src/main/scala/dev/guardrail/core/ResolvedType.scala
  modules/core/src/main/scala/dev/guardrail/generators/LanguageParameter.scala
  modules/core/src/main/scala/dev/guardrail/terms/LanguageTerms.scala
  modules/core/src/main/scala/dev/guardrail/terms/protocol/ProtocolParameter.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/JavaGenerator.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonGenerator.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonHelpers.scala
  modules/java-support/src/main/scala/dev/guardrail/java/helpers/ResponseHelpers.scala
  modules/java-support/src/test/scala/tests/generators/helpers/JacksonHelpersTest.scala
  modules/sample/src/main/resources/issues/issue1218.yaml
  modules/sample/src/main/resources/issues/issue622.yaml
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpServerGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sServerGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/ScalaGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonHelpers.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/syntax/Scala.scala
  modules/scala-support/src/main/scala/dev/guardrail/scala/helpers/ResponseHelpers.scala
  modules/scala-support/src/test/scala/tests/generators/helpers/JacksonHelpersTest.scala
Labels: scala-akka-http, scala-http4s, scala-support, core, minor, java-support, guardrail

#1411 Add discriminator to circe subtypes
  build.sbt
  modules/core/src/main/scala/dev/guardrail/core/ResolvedType.scala
  modules/core/src/main/scala/dev/guardrail/terms/LanguageTerms.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonHelpers.scala
  modules/java-support/src/main/scala/dev/guardrail/java/helpers/ResponseHelpers.scala
  modules/sample-http4s/src/test/scala/core/issues/Issue786.scala
  modules/sample/src/main/resources/issues/issue786.yaml
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpServerGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonHelpers.scala
  modules/scala-support/src/main/scala/dev/guardrail/scala/helpers/ResponseHelpers.scala
  project/src/main/scala/RegressionTests.scala
Labels: scala-support
