Repository guardrail-dev/guardrail, pull requests merged in 2022-05, with the labels that each got.

#1467 Update sbt-wartremover, wartremover to 3.0.3
  project/wartremover.sbt
Labels: chore

#1469 Start to break up frameworks
  modules/codegen/src/main/scala/dev/guardrail/generators/GeneratorMappings.scala
  modules/codegen/src/main/scala/dev/guardrail/generators/scala/ScalaModule.scala
  modules/codegen/src/test/scala/codegen/WritePackageSpec.scala
  modules/core/src/main/scala/dev/guardrail/Target.scala
  modules/core/src/main/scala/dev/guardrail/core/CoreTermInterp.scala
Labels: minor, chore

#1470 Break up `ModelGeneratorTypes` sealed trait
  modules/codegen/src/main/scala/dev/guardrail/generators/scala/ScalaModule.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttp.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpClientGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpHelper.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpJackson.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpPathExtractor.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpServerGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpVersion.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardClientGenerator.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardServerGenerator.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardVersion.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/CirceModelGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/JacksonModelGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/ModelGeneratorType.scala
Labels: minor, chore

#1473 SPI CollectionsLibTerms
  modules/codegen/src/main/scala/dev/guardrail/generators/GeneratorMappings.scala
  modules/codegen/src/main/scala/dev/guardrail/generators/scala/ScalaModule.scala
  modules/codegen/src/test/scala/codegen/WritePackageSpec.scala
Labels: minor

#1472 Dethreading CollectionsLibTerms
  modules/core/src/main/scala/dev/guardrail/Common.scala
  modules/core/src/main/scala/dev/guardrail/generators/Framework.scala
  modules/core/src/main/scala/dev/guardrail/terms/ProtocolTerms.scala
  modules/core/src/main/scala/dev/guardrail/terms/client/ClientTerms.scala
  modules/core/src/main/scala/dev/guardrail/terms/framework/FrameworkTerms.scala
  modules/core/src/main/scala/dev/guardrail/terms/server/ServerTerms.scala
  modules/java-dropwizard/src/main/scala/dev/guardrail/generators/java/dropwizard/Dropwizard.scala
  modules/java-dropwizard/src/main/scala/dev/guardrail/generators/java/dropwizard/DropwizardGenerator.scala
  modules/java-spring-mvc/src/main/scala/dev/guardrail/generators/java/springMvc/SpringMvc.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttp.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpClientGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpJackson.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpServerGenerator.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/Dropwizard.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardClientGenerator.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardGenerator.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardServerGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4s.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sClientGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sServerGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonProtocolGenerator.scala
Labels: minor

#1474 Utilizing ModuleMapperLoader and FrameworkLoader in GeneratorMappings
  modules/codegen/src/main/scala/dev/guardrail/generators/GeneratorMappings.scala
  modules/codegen/src/test/scala/codegen/WritePackageSpec.scala
  modules/core/src/main/scala/dev/guardrail/core/CoreTermInterp.scala
Labels: minor

#1475 Disable semver on master
  project/src/main/scala/Build.scala
Labels: minor

#1476 Disable semver on master redux
  project/src/main/scala/Build.scala
Labels: minor

#1477 Final wire up
  .github/workflows/ci.yml
  modules/codegen/src/main/scala/dev/guardrail/generators/GeneratorMappings.scala
  modules/codegen/src/main/scala/dev/guardrail/generators/java/JavaModule.scala
  modules/codegen/src/main/scala/dev/guardrail/generators/scala/ScalaModule.scala
  modules/codegen/src/test/scala/codegen/WritePackageSpec.scala
  modules/core/src/main/scala/dev/guardrail/core/CoreTermInterp.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/JavaGeneratorMappings.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/ScalaGeneratorMappings.scala
  project/src/main/scala/Build.scala
  support/current-pr-labels.sh
Labels: scala-support, core, java-support, guardrail

#1450 Update swagger-parser to 2.0.32
  modules/core/src/main/scala/dev/guardrail/SwaggerUtil.scala
  modules/core/src/main/scala/dev/guardrail/generators/SwaggerGenerator.scala
  modules/core/src/main/scala/dev/guardrail/terms/SecurityScheme.scala
  modules/core/src/main/scala/dev/guardrail/terms/SwaggerTerms.scala
  project/src/main/scala/modules/core.scala
Labels: minor, chore

#1478 isRelease should be considered for bincompat
  project/src/main/scala/Build.scala
Labels: minor

#1488 Update cats-effect to 3.3.12
  build.sbt
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s, chore

#1484 Update sbt-wartremover, wartremover to 3.0.4
  project/wartremover.sbt
Labels: chore

#1482 Update jackson-module-scala to 2.13.3
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: scala-akka-http, chore, scala-dropwizard

#1485 Update spring-boot-starter-test, ... to 2.6.8
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: chore, java-spring-mvc

#1479 Update scalafmt-core to 3.5.3
  .scalafmt.conf
  modules/codegen/src/test/scala/tests/core/TrackerTests.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpClientGenerator.scala
Labels: core, java-dropwizard, chore, java-support, java-async-http, java-spring-mvc, guardrail

#1487 Update swagger-parser to 2.0.33
  project/src/main/scala/modules/core.scala
Labels: core, chore

#1489 Update spring-boot-starter-test, ... to 2.7.0
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: chore, java-spring-mvc

#1486 Update circe-core, circe-jawn, circe-parser to 0.14.2
  modules/sample-akkaHttp/src/test/scala/core/issues/Issue148.scala
  modules/sample-http4s-v0_22/src/test/scala/core/Http4s/Http4sDebugBodyTest.scala
  modules/sample-http4s-v0_22/src/test/scala/core/issues/Issue148.scala
  modules/sample-http4s/src/test/scala/core/Http4s/Http4sDebugBodyTest.scala
  modules/sample-http4s/src/test/scala/core/issues/Issue148.scala
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-akka-http, scala-http4s, chore

#1407 Replace strings with schema type resolvers
  .github/workflows/ci.yml
  MIGRATING.md
  modules/core/src/main/scala/dev/guardrail/Common.scala
  modules/core/src/main/scala/dev/guardrail/SwaggerUtil.scala
  modules/core/src/main/scala/dev/guardrail/core/ResolvedType.scala
  modules/core/src/main/scala/dev/guardrail/generators/ClientGenerator.scala
  modules/core/src/main/scala/dev/guardrail/generators/LanguageParameter.scala
  modules/core/src/main/scala/dev/guardrail/generators/ProtocolGenerator.scala
  modules/core/src/main/scala/dev/guardrail/generators/ServerGenerator.scala
  modules/core/src/main/scala/dev/guardrail/generators/SwaggerGenerator.scala
  modules/core/src/main/scala/dev/guardrail/terms/LanguageTerms.scala
  modules/core/src/main/scala/dev/guardrail/terms/Responses.scala
  modules/core/src/main/scala/dev/guardrail/terms/RouteMeta.scala
  modules/core/src/main/scala/dev/guardrail/terms/SwaggerTerms.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonGenerator.scala
  modules/sample-akkaHttp/src/test/scala/core/AkkaHttp/AkkaHttpRoundTripTest.scala
  modules/sample-akkaHttpJackson/src/test/scala/core/AkkaHttpJackson/AkkaHttpJacksonRoundTripTest.scala
  modules/sample-http4s-v0_22/src/test/scala/core/Http4s/Http4sRoundTripTest.scala
  modules/sample-http4s-v0_22/src/test/scala/core/issues/Issue1218.scala
  modules/sample-http4s-v0_22/src/test/scala/core/issues/Issue1229.scala
  modules/sample-http4s-v0_22/src/test/scala/generators/Http4s/RoundTrip/Http4sFormDataTest.scala
  modules/sample-http4s/src/test/scala/core/Http4s/Http4sRoundTripTest.scala
  modules/sample-http4s/src/test/scala/core/issues/Issue1218.scala
  modules/sample-http4s/src/test/scala/core/issues/Issue1229.scala
  modules/sample-http4s/src/test/scala/core/issues/Issue148.scala
  modules/sample-http4s/src/test/scala/generators/Http4s/RoundTrip/Http4sFormDataTest.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpServerGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sServerGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
Labels: core, minor, java-support, guardrail

#1490 Extending application/json with an optional Scope
  modules/core/src/main/scala/dev/guardrail/terms/Content.scala
  modules/core/src/main/scala/dev/guardrail/terms/RouteMeta.scala
  modules/java-async-http/src/main/scala/dev/guardrail/generators/java/asyncHttpClient/AsyncHttpClientClientGenerator.scala
  modules/java-dropwizard/src/main/scala/dev/guardrail/generators/java/dropwizard/DropwizardServerGenerator.scala
  modules/java-spring-mvc/src/main/scala/dev/guardrail/generators/java/springMvc/SpringMvcServerGenerator.scala
  modules/java-support/src/main/scala/dev/guardrail/java/helpers/ResponseHelpers.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpClientGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpHelper.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpServerGenerator.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardServerGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sClientGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/ResponseADTHelper.scala
  modules/scala-support/src/main/scala/dev/guardrail/scala/helpers/ResponseHelpers.scala
Labels: scala-akka-http, scala-support, core, java-dropwizard, minor, scala-dropwizard, java-support, java-async-http, java-spring-mvc

#1491 Update scalameta to 4.5.8
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpServerGenerator.scala
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support, minor, chore

#1492 Update http4s-blaze-client, ... to 0.23.12
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sClientGenerator.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s, minor, chore

#1494 Adding missing Schema mappings
  modules/core/src/main/scala/dev/guardrail/SwaggerUtil.scala
Labels: bug

#1495 Better TypeTag comparison
  modules/core/src/main/scala/dev/guardrail/generators/spi/AbstractLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/ClientGeneratorLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/CollectionsGeneratorLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/FrameworkGeneratorLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/FrameworkLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/LanguageLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/ModuleMapperLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/ProtocolGeneratorLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/ServerGeneratorLoader.scala
Labels: minor, chore

#1497 Replacing default language mapping with spi
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .scalafmt.conf
  CONTRIBUTING.md
  build.sbt
  modules/cli/src/main/scala/dev/guardrail/cli/CLI.scala
  modules/cli/src/main/scala/dev/guardrail/cli/CLICommon.scala
  modules/codegen/src/main/scala/dev/guardrail/generators/GeneratorMappings.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/AbstractLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/ClientGeneratorLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/CollectionsGeneratorLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/CoreTermsLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/FrameworkGeneratorLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/FrameworkLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/LanguageLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/ProtocolGeneratorLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/ServerGeneratorLoader.scala
  modules/core/src/main/scala/dev/guardrail/runner/GuardrailRunner.scala
  modules/java-support/src/main/resources/META-INF/services/dev.guardrail.generators.spi.CoreTermsLoader
  modules/java-support/src/main/scala/dev/guardrail/generators/java/JavaCoreTermLoader.scala
  modules/scala-support/src/main/resources/META-INF/services/dev.guardrail.generators.spi.CoreTermsLoader
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/ScalaCoreTermLoader.scala
  project/src/main/scala/modules/guardrail.scala
  src/test/scala/codegen/WritePackageSpec.scala
  src/test/scala/core/StructuredLoggerSuite.scala
  src/test/scala/dev/guardrail/collections/CollectionsAbstractionTest.scala
  src/test/scala/dev/guardrail/core/WriteTreeSuite.scala
  src/test/scala/dev/guardrail/generators/LanguageParameterTestAdapter.scala
  src/test/scala/dev/guardrail/generators/syntax/JavaSyntaxTest.scala
  src/test/scala/support/ScalaMetaMatchers.scala
  src/test/scala/swagger/VendorExtensionTest.scala
  src/test/scala/tests/core/BacktickTest.scala
  src/test/scala/tests/core/CaseConvertersTest.scala
  src/test/scala/tests/core/DereferencingAliasesSpec.scala
  src/test/scala/tests/core/EscapeTreeSpec.scala
  src/test/scala/tests/core/PathParserSpec.scala
  src/test/scala/tests/core/ScalaTypesTest.scala
  src/test/scala/tests/core/TrackerTests.scala
  src/test/scala/tests/core/TypesTest.scala
  src/test/scala/tests/generators/dropwizardScala/server/DropwizardScalaJsr310Test.scala
  support/regenerate-release-drafter.sh
Labels: enhancement, minor

#1500 Reverting AbstractGeneratorLoader parameter abstraction
  modules/core/src/main/scala/dev/guardrail/generators/spi/AbstractLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/ClientGeneratorLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/CollectionsGeneratorLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/FrameworkGeneratorLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/FrameworkLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/LanguageLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/ProtocolGeneratorLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/ServerGeneratorLoader.scala
Labels: minor
