Repository guardrail-dev/guardrail, pull requests merged in 2022-09, with the labels that each got.

#1582 Update hibernate-validator to 6.2.5.Final
  project/src/main/scala/modules/scalaAkkaHttp.scala
Labels: scala-akka-http, chore

#1577 Update akka-stream, akka-testkit to 2.6.20
  project/src/main/scala/modules/scalaAkkaHttp.scala
Labels: scala-akka-http, chore

#1593 Adding Tracker history for fallback errors
  modules/core/src/main/scala/dev/guardrail/SwaggerUtil.scala
Labels: bug

#1588 Update http4s-circe, http4s-dsl to 0.23.16
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s, chore

#1574 Update jackson-module-scala to 2.13.4
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: chore

#1595 Adding proper support for empty path segments
  build.sbt
  modules/core/src/main/scala/dev/guardrail/core/PathExtractor.scala
  modules/sample/src/main/resources/issues/issue1594.yaml
  project/src/main/scala/RegressionTests.scala
  src/test/scala/tests/core/PathParserSpec.scala
Labels: bug

#1587 Update circe-core, circe-jawn, circe-parser, ... to 0.14.3
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-akka-http, scala-http4s, chore

#1590 Update scalacheck to 1.17.0
  project/src/main/scala/Dependencies.scala
Labels: chore

#1589 Update scala-library, scala-reflect to 2.12.17
  project/plugins.sbt
  project/scoverage.sbt
  project/src/main/scala/Build.scala
  project/version-policy.sbt
  project/wartremover.sbt
Labels: chore

#1576 Update akka-http, akka-http-testkit to 10.2.10
  project/src/main/scala/modules/scalaAkkaHttp.scala
Labels: scala-akka-http, chore
