Repository guardrail-dev/guardrail, pull requests merged in 2022-04, with the labels that each got.

#1452 Update cats-effect to 3.3.11
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s, chore

#1454 Update sbt-scalafix to 0.10.0
  project/scalafix.sbt
Labels: chore

#1455 Update scalacheck to 1.16.0
  project/src/main/scala/Dependencies.scala
Labels: chore

#1456 Update sbt-wartremover, wartremover to 3.0.0
  project/wartremover.sbt
Labels: chore

#1458 Update sbt-wartremover, wartremover to 3.0.1
  project/wartremover.sbt
Labels: chore

#1459 explicit type annotations for implicit definitions (fixes #1387)
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/ScalaGenerator.scala
Labels: scala-support

#1463 Update scalatest to 3.2.12
  project/src/main/scala/Dependencies.scala
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/javaSpringMvc.scala
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-akka-http, scala-http4s, java-dropwizard, chore, scala-dropwizard, java-spring-mvc
