Repository guardrail-dev/guardrail, pull requests merged in 2022-06, with the labels that each got.

#1503 StringSchema incorrectly treated as a model
  modules/core/src/main/scala/dev/guardrail/generators/ProtocolGenerator.scala
  modules/sample-springMvc/src/test/scala/alias/server/springMvc/foo/AliasSpecs.scala
  modules/sample/src/main/resources/alias.yaml
Labels: bug

#1498 Better default language handling for CLI parser
  modules/cli/src/main/scala/dev/guardrail/cli/CLICommon.scala
Labels: minor, cli

#1499 Introducing acceptHeader to http4s client generator
  .github/workflows/ci.yml
  modules/sample-http4s/src/test/scala/generators/Http4s/Client/contentType/Http4sTextPlainTest.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sClientGenerator.scala
  modules/scala-http4s/src/test/scala/tests/core/FullyQualifiedNames.scala
  modules/scala-http4s/src/test/scala/tests/generators/http4s/BasicTest.scala
  modules/scala-http4s/src/test/scala/tests/generators/http4s/client/DefaultParametersTest.scala
Labels: bug, minor, patch

#1504 Revert versionScheme in the project
  project/src/main/scala/Build.scala
Labels: bug, patch

#1505 Actually disable versionScheme, somehow early-semver was still being picked up
  project/src/main/scala/Build.scala
Labels: bug

#1501 Improving module loader error messages
  modules/core/src/main/scala/dev/guardrail/generators/spi/AbstractLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/ClientGeneratorLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/CollectionsGeneratorLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/FrameworkGeneratorLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/FrameworkLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/LanguageLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/ModuleLoadResult.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/ModuleMapperLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/ProtocolGeneratorLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/ServerGeneratorLoader.scala
  modules/core/src/test/scala/dev/guardrail/generators/spi/ModuleLoadResultSpec.scala
  modules/java-async-http/src/main/scala/dev/guardrail/generators/java/asyncHttpClient/AsyncHttpClientClientGenerator.scala
  modules/java-async-http/src/main/scala/dev/guardrail/generators/java/asyncHttpClient/AsyncHttpClientVersion.scala
  modules/java-dropwizard/src/main/scala/dev/guardrail/generators/java/dropwizard/DropwizardGenerator.scala
  modules/java-dropwizard/src/main/scala/dev/guardrail/generators/java/dropwizard/DropwizardServerGenerator.scala
  modules/java-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardVersion.scala
  modules/java-spring-mvc/src/main/scala/dev/guardrail/generators/java/springMvc/SpringMvcGenerator.scala
  modules/java-spring-mvc/src/main/scala/dev/guardrail/generators/java/springMvc/SpringMvcServerGenerator.scala
  modules/java-spring-mvc/src/main/scala/dev/guardrail/generators/java/springMvc/SpringMvcVersion.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/JavaCollectionsGenerator.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/JavaGenerator.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/JavaGeneratorMappings.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/JavaVavrCollectionsGenerator.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonGenerator.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonVersion.scala
  modules/java-support/src/main/scala/dev/guardrail/terms/collections/JavaStdLibCollections.scala
  modules/java-support/src/main/scala/dev/guardrail/terms/collections/JavaVavrCollections.scala
  modules/microsite/src/main/scala/DocsHelpers.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpClientGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpServerGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpVersion.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardClientGenerator.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardGenerator.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardServerGenerator.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardVersion.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sClientGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sServerGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sVersion.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/CirceModelGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/JacksonModelGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/ScalaCollectionsGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/ScalaGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/ScalaGeneratorMappings.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonProtocolGenerator.scala
  src/test/scala/dev/guardrail/generators/spi/SpiTest.scala
Labels: scala-akka-http, scala-http4s, scala-support, core, java-dropwizard, minor, scala-dropwizard, java-support, java-async-http, java-spring-mvc

#1507 Including available choices
  build.sbt
  modules/cli/src/main/scala/dev/guardrail/cli/CLI.scala
  modules/cli/src/main/scala/dev/guardrail/cli/CLICommon.scala
  modules/cli/src/test/scala/CLICommonSpec.scala
  modules/core/src/main/scala/dev/guardrail/Args.scala
  modules/core/src/main/scala/dev/guardrail/Error.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/AbstractLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/FrameworkLoader.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/ModuleLoadResult.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/ModuleMapperLoader.scala
  modules/core/src/test/scala/dev/guardrail/generators/spi/ModuleLoadResultSpec.scala
  modules/java-async-http/src/main/scala/dev/guardrail/generators/java/asyncHttpClient/AsyncHttpClientClientGenerator.scala
  modules/java-dropwizard/src/main/scala/dev/guardrail/generators/java/dropwizard/DropwizardGenerator.scala
  modules/java-dropwizard/src/main/scala/dev/guardrail/generators/java/dropwizard/DropwizardServerGenerator.scala
  modules/java-spring-mvc/src/main/scala/dev/guardrail/generators/java/springMvc/SpringMvcGenerator.scala
  modules/java-spring-mvc/src/main/scala/dev/guardrail/generators/java/springMvc/SpringMvcServerGenerator.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/JavaModuleMapper.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpClientGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpServerGenerator.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardClientGenerator.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardGenerator.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardServerGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sClientGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sServerGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/ScalaModuleMapper.scala
  project/src/main/scala/RegressionTests.scala
  src/test/scala/dev/guardrail/generators/spi/SpiTest.scala
Labels: enhancement, minor

#1506 Release tooling
  build.sbt
  support/trigger-all-releases.sh
Labels: chore

#1508 refined types
  modules/sample-akkaHttp/src/test/scala/generators/Circe/CirceRedactionTest.scala
  modules/sample-akkaHttp/src/test/scala/generators/Circe/refined/ValidationTest.scala
  modules/sample/src/main/resources/validation/example.yaml
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpClientGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpServerGenerator.scala
  modules/scala-akka-http/src/test/scala/core/issues/Issue43.scala
  modules/scala-support/src/main/resources/META-INF/services/dev.guardrail.generators.spi.ProtocolGeneratorLoader
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/CirceRefinedModelGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
  modules/scala-support/src/test/scala/tests/circe/ValidationTest.scala
  project/src/main/scala/Build.scala
  project/src/main/scala/RegressionTests.scala
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-akka-http, scala-http4s, scala-support, minor

#1509 Fixup to the last PR, refined was added to too many places
  .github/release-drafter-cli.yml
  .github/release-drafter-core.yml
  .github/release-drafter-java-async-http.yml
  .github/release-drafter-java-dropwizard.yml
  .github/release-drafter-java-spring-mvc.yml
  .github/release-drafter-java-support.yml
  .github/release-drafter-scala-akka-http.yml
  .github/release-drafter-scala-dropwizard.yml
  .github/release-drafter-scala-http4s.yml
  .github/release-drafter-scala-support.yml
  project/src/main/scala/Build.scala
  support/regenerate-release-drafter.sh
Labels: minor
