Repository guardrail-dev/guardrail, pull requests merged in 2022-01, with the labels that each got.

#1370 Update cats-effect to 3.3.4
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s, chore

#1362 Update junit-interface to 0.13.3
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, chore, scala-dropwizard

#1372 Update scalameta, semanticdb-scalac to 4.4.32
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support, chore

#1352 Update sbt-updates to 0.6.1
  project/plugins.sbt
Labels: chore

#1374 Update sbt-scalafix to 0.9.34
  project/scalafix.sbt
Labels: chore

#1373 Update sbt-scoverage to 1.9.3
  project/scoverage.sbt
Labels: chore

#1376 Update slf4j-simple to 1.7.33
  project/src/main/scala/modules/root.scala
Labels: chore

#1377 Update mockito-scala, ... to 1.16.55
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/javaSpringMvc.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, chore, scala-dropwizard, java-spring-mvc

#1378 Update scalameta, semanticdb-scalac to 4.4.33
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support, chore

#1379 Update mockito-scala, ... to 1.17.0
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/javaSpringMvc.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, chore, scala-dropwizard, java-spring-mvc

#1380 Update spring-boot-starter-test, ... to 2.6.3
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: chore

#1381 Update scalatest to 3.2.11
  project/src/main/scala/Dependencies.scala
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/javaSpringMvc.scala
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
  project/src/main/scala/modules/scalaEndpoints.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-akka-http, scala-http4s, java-dropwizard, chore, scala-dropwizard, java-spring-mvc, scala-endpoints

#1385 Update http4s-blaze-client, ... to 0.23.8
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: chore

#1384 Update equalsverifier to 3.8.3
  project/src/main/scala/modules/javaDropwizard.scala
Labels: chore

#1383 Update slf4j-simple to 1.7.35
  project/src/main/scala/modules/root.scala
Labels: chore

#1375 Update scala-library to 2.13.8
  modules/codegen/src/test/scala/tests/core/DereferencingAliasesSpec.scala
  modules/core/src/main/scala/dev/guardrail/generators/ProtocolGenerator.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue144.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue165.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue166.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue222.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue223.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue225.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue255.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue260.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue370.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue416.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue420.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue429.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue538.scala
  modules/scala-http4s/src/test/scala/tests/core/FullyQualifiedNames.scala
  modules/scala-http4s/src/test/scala/tests/generators/http4s/BasicTest.scala
  modules/scala-http4s/src/test/scala/tests/generators/http4s/Http4sServerTest.scala
  modules/scala-http4s/src/test/scala/tests/generators/http4s/client/DefaultParametersTest.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  project/src/main/scala/Build.scala
Labels: chore

#1235 Update scala-library to 2.12.15
  project/src/main/scala/Build.scala
Labels: chore

#1331 Adding missing info for sample resources
  build.sbt
  modules/sample/src/main/resources/alias.yaml
  modules/sample/src/main/resources/base64.yaml
  modules/sample/src/main/resources/binary.yaml
  modules/sample/src/main/resources/char-encoding/char-encoding-request-stream.yaml
  modules/sample/src/main/resources/char-encoding/char-encoding-response-stream.yaml
  modules/sample/src/main/resources/conflicting-names.yaml
  modules/sample/src/main/resources/contentType-textPlain.yaml
  modules/sample/src/main/resources/date-time.yaml
  modules/sample/src/main/resources/debug-body.yaml
  modules/sample/src/main/resources/department.yaml
  modules/sample/src/main/resources/edgecases/defaults.yaml
  modules/sample/src/main/resources/enumerations.yaml
  modules/sample/src/main/resources/invalid-characters.yaml
  modules/sample/src/main/resources/issues/issue1138.yaml
  modules/sample/src/main/resources/issues/issue121.yaml
  modules/sample/src/main/resources/issues/issue1218.yaml
  modules/sample/src/main/resources/issues/issue1260.yaml
  modules/sample/src/main/resources/issues/issue127.yaml
  modules/sample/src/main/resources/issues/issue143.yaml
  modules/sample/src/main/resources/issues/issue148.yaml
  modules/sample/src/main/resources/issues/issue184.yaml
  modules/sample/src/main/resources/issues/issue218.yaml
  modules/sample/src/main/resources/issues/issue249.yaml
  modules/sample/src/main/resources/issues/issue264.yaml
  modules/sample/src/main/resources/issues/issue325.yaml
  modules/sample/src/main/resources/issues/issue351.yaml
  modules/sample/src/main/resources/issues/issue357.yaml
  modules/sample/src/main/resources/issues/issue389.yaml
  modules/sample/src/main/resources/issues/issue405.yaml
  modules/sample/src/main/resources/issues/issue440.yaml
  modules/sample/src/main/resources/issues/issue45.yaml
  modules/sample/src/main/resources/issues/issue455.yaml
  modules/sample/src/main/resources/issues/issue572.yaml
  modules/sample/src/main/resources/issues/issue622.yaml
  modules/sample/src/main/resources/mixed-content-types-3.0.2.yaml
  modules/sample/src/main/resources/multipart-form-data.yaml
  modules/sample/src/main/resources/pathological-parameters.yaml
  modules/sample/src/main/resources/plain.json
  modules/sample/src/main/resources/polymorphism-mapped.yaml
  modules/sample/src/main/resources/random-content-types.yaml
  modules/sample/src/main/resources/raw-response.yaml
  modules/sample/src/main/resources/redaction.yaml
  modules/sample/src/main/resources/response-headers.yaml
  modules/sample/src/main/resources/server1.yaml
  modules/sample/src/main/resources/server2.yaml
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardServerGenerator.scala
Labels: chore

#1388 Update cats-effect to 3.3.5
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: chore

#1389 Update http4s-blaze-client, ... to 0.23.9
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s, chore
