Repository guardrail-dev/guardrail, pull requests merged in 2022-03, with the labels that each got.

#1416 Update hibernate-validator to 6.2.3.Final
  project/src/main/scala/modules/scalaAkkaHttp.scala
Labels: scala-akka-http, chore

#1412 Removing endpoints stubs
  .github/labeler.yml
  .github/release-drafter-scala-endpoints.yml
  .github/workflows/ci.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .scalafmt.conf
  CONTRIBUTING.md
  README.md
  build.sbt
  modules/codegen/src/main/scala/dev/guardrail/generators/GeneratorMappings.scala
  modules/codegen/src/main/scala/dev/guardrail/generators/scala/ScalaModule.scala
  modules/microsite/docs/index.md
  modules/microsite/docs/scalajs/endpoints/index.md
  modules/microsite/src/main/resources/microsite/data/menu.yml
  modules/sample-endpoints/src/main/scala/examples/support/PositiveLong.scala
  modules/sample-endpoints/src/test/scala/scalatest/EitherTValues.scala
  modules/sample-endpoints/src/test/scala/swagger/Escaping.scala
  modules/scala-endpoints/src/main/scala/dev/guardrail/generators/scala/endpoints/Endpoints.scala
  modules/scala-endpoints/src/main/scala/dev/guardrail/generators/scala/endpoints/EndpointsClientGenerator.scala
  modules/scala-endpoints/src/main/scala/dev/guardrail/generators/scala/endpoints/EndpointsGenerator.scala
  modules/scala-endpoints/src/main/scala/dev/guardrail/generators/scala/endpoints/EndpointsServerGenerator.scala
  project/src/main/scala/RegressionTests.scala
  project/src/main/scala/modules/allDeps.scala
  project/src/main/scala/modules/scalaEndpoints.scala
  support/apply-pr-label-locally.sh
  support/rebase-formatting.sh
  support/regenerate-release-drafter.sh
  support/trigger-all-releases.sh
Labels: scala-akka-http, minor, scala-endpoints, guardrail

#1429 Update equalsverifier to 3.9.1
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard, chore

#1342 Add basic authentication support for http4s
  modules/cli/src/main/scala/dev/guardrail/cli/CLICommon.scala
  modules/core/src/main/scala/dev/guardrail/Args.scala
  modules/core/src/main/scala/dev/guardrail/AuthImplementation.scala
  modules/core/src/main/scala/dev/guardrail/Common.scala
  modules/core/src/main/scala/dev/guardrail/Context.scala
  modules/core/src/main/scala/dev/guardrail/core/Tracker.scala
  modules/core/src/main/scala/dev/guardrail/core/extract/package.scala
  modules/core/src/main/scala/dev/guardrail/generators/ServerGenerator.scala
  modules/core/src/main/scala/dev/guardrail/generators/SwaggerGenerator.scala
  modules/core/src/main/scala/dev/guardrail/terms/SecurityRequirements.scala
  modules/core/src/main/scala/dev/guardrail/terms/server/ServerTerms.scala
  modules/java-dropwizard/src/main/scala/dev/guardrail/generators/java/dropwizard/DropwizardServerGenerator.scala
  modules/java-spring-mvc/src/main/scala/dev/guardrail/generators/java/springMvc/SpringMvcServerGenerator.scala
  modules/sample-http4s-v0_22/src/test/scala/core/Http4s/Http4sRoundTripTest.scala
  modules/sample-http4s-v0_22/src/test/scala/core/Http4s/authentication/Http4sCustomAuthenticationOverrideTest.scala
  modules/sample-http4s-v0_22/src/test/scala/core/Http4s/authentication/Http4sCustomAuthenticationTest.scala
  modules/sample-http4s-v0_22/src/test/scala/core/Http4s/authentication/Http4sSimpleAuthenticationOverrideTest.scala
  modules/sample-http4s-v0_22/src/test/scala/core/Http4s/authentication/Http4sSimpleAuthenticationTest.scala
  modules/sample-http4s-v0_22/src/test/scala/core/issues/Issue1229.scala
  modules/sample-http4s/src/test/scala/core/Http4s/Http4sRoundTripTest.scala
  modules/sample-http4s/src/test/scala/core/Http4s/authentication/Http4sCustomAuthenticationOverrideTest.scala
  modules/sample-http4s/src/test/scala/core/Http4s/authentication/Http4sCustomAuthenticationTest.scala
  modules/sample-http4s/src/test/scala/core/Http4s/authentication/Http4sNativeAuthenticationTest.scala
  modules/sample-http4s/src/test/scala/core/Http4s/authentication/Http4sSimpleAuthenticationOverrideTest.scala
  modules/sample-http4s/src/test/scala/core/Http4s/authentication/Http4sSimpleAuthenticationTest.scala
  modules/sample-http4s/src/test/scala/core/issues/Issue1229.scala
  modules/sample/src/main/resources/authentication-override.yaml
  modules/sample/src/main/resources/authentication.yaml
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpServerGenerator.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardServerGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sServerGenerator.scala
  project/src/main/scala/Build.scala
  project/src/main/scala/RegressionTests.scala
Labels: scala-akka-http, scala-http4s, core, java-dropwizard, minor, scala-dropwizard, java-spring-mvc, scala-endpoints

#1442 scalafmt for Java frameworks
  build.sbt
  modules/sample-dropwizard/src/test/scala/core/Jackson/JacksonPropertyTest.scala
  modules/sample-dropwizardVavr/src/test/scala/core/JacksonVavr/JacksonBuilderParamTest.scala
  modules/sample-dropwizardVavr/src/test/scala/core/JacksonVavr/JacksonNestedTest.scala
  modules/sample-dropwizardVavr/src/test/scala/core/JacksonVavr/JacksonPolyMappingTest.scala
  modules/sample-springMvc/src/test/scala/alias/server/springMvc/foo/AliasSpecs.scala
  modules/sample-springMvc/src/test/scala/dateTime/server/springMvc/dateTime/DateTimeSpecs.scala
  modules/sample-springMvc/src/test/scala/dateTime/server/springMvc/dateTime/MockDateTimeHandlerConfiguration.scala
  modules/sample-springMvc/src/test/scala/examples/server/springMvc/pet/BaselineSpecs.scala
Labels: minor, chore

#1443 Removing old Circe code
  build.sbt
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
Labels: minor, chore

#1444 Fixing broken tests for akka-http
  modules/scala-akka-http/src/test/scala/core/issues/Issue314.scala
  modules/scala-akka-http/src/test/scala/core/issues/Issue43.scala
Labels: minor, chore

#1446 Fixing broken tests for dropwizard
  modules/java-dropwizard/src/test/scala/scala/core/issues/Issue314.scala
Labels: minor, chore

#1434 Update equalsverifier to 3.10
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard, chore

#1436 Update spring-boot-starter-test, ... to 2.6.5
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: chore, java-spring-mvc

#1437 Update cats-effect to 3.3.9
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s, chore

#1435 Update scala-collection-compat to 2.7.0
  project/src/main/scala/Build.scala
  project/src/main/scala/modules/core.scala
Labels: core, chore

#1431 Update sbt-wartremover, wartremover to 2.4.19
  project/wartremover.sbt
Labels: chore

#1428 Update http4s-blaze-client, ... to 0.23.11
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s, chore

#1425 Update swagger-parser to 2.0.31
  project/src/main/scala/modules/core.scala
Labels: core, chore

#1432 Update akka-stream, akka-testkit to 2.6.19
  project/src/main/scala/modules/scalaAkkaHttp.scala
Labels: scala-akka-http, chore

#1406 Update mockito-scala, ... to 1.17.5
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/javaSpringMvc.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, chore, scala-dropwizard, java-spring-mvc

#1417 Update akka-http, akka-http-testkit to 10.2.9
  project/src/main/scala/modules/scalaAkkaHttp.scala
Labels: scala-akka-http, chore

#1421 Update jackson-module-scala to 2.13.2
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: scala-akka-http, chore, scala-dropwizard

#1447 Update spring-boot-starter-test, ... to 2.6.6
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: chore, java-spring-mvc

#1445 Update sbt-git to 2.0.0
  project/git.sbt
Labels: chore
