Repository guardrail-dev/guardrail, pull requests merged in 2022-07, with the labels that each got.

#1511 Update sbt-scalafix to 0.10.1
  build.sbt
  project/scalafix.sbt
  project/src/main/scala/Build.scala
Labels: chore

#1512 Update sbt-updates to 0.6.3
  project/plugins.sbt
Labels: chore

#1521 Update mockito-scala, ... to 1.17.7
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/javaSpringMvc.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, chore, scala-dropwizard, java-spring-mvc

#1524 Update scalameta to 4.5.9
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support, chore

#1527 Update cats-core, cats-free, cats-kernel to 2.8.0
  project/src/main/scala/modules/core.scala
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-akka-http, scala-http4s, core, chore, scala-dropwizard

#1531 Update refined, refined-cats to 0.10.1
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-akka-http, scala-http4s, chore

#1533 Update scala-collection-compat to 2.8.0
  project/src/main/scala/Build.scala
  project/src/main/scala/modules/core.scala
Labels: core, chore

#1534 Clarify 'required: false' and 'default: ...' both being present
  .gitignore
  .sbtopts-default
  modules/core/src/main/scala/dev/guardrail/SwaggerUtil.scala
  modules/core/src/main/scala/dev/guardrail/generators/LanguageParameter.scala
  modules/core/src/main/scala/dev/guardrail/terms/Responses.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonGenerator.scala
  modules/sample-akkaHttp/src/test/scala/core/issues/Issue1532.scala
  modules/sample-akkaHttp/src/test/scala/generators/Circe/refined/ValidationTest.scala
  modules/sample/src/main/resources/issues/issue1532.yaml
  modules/sample/src/main/resources/validation/example.yaml
  modules/scala-akka-http/src/test/scala/core/issues/Issue43.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/DefinitionSpec.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/client/DefaultParametersTest.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue370.scala
  modules/scala-http4s/src/test/scala/tests/generators/http4s/client/DefaultParametersTest.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/test/scala/tests/circe/ValidationTest.scala
  project/src/main/scala/RegressionTests.scala
Labels: bug, scala, scala-support, core, minor, java-support

#1535 Resolving incorrect logging for type decoders
  modules/core/src/main/scala/dev/guardrail/SwaggerUtil.scala
  modules/sample/src/main/resources/issues/issue786.yaml
  modules/sample/src/main/resources/raw-response.yaml
  modules/scala-support/src/test/scala/tests/circe/BigObjectSpec.scala
  modules/scala-support/src/test/scala/tests/circe/ValidationTest.scala
Labels: minor

#1536 Resolve overly broad circe imports
  .github/labeler.yml
  modules/java-async-http/src/main/scala/dev/guardrail/generators/java/asyncHttpClient/AsyncHttpClientClientGenerator.scala
  modules/java-dropwizard/src/main/scala/dev/guardrail/generators/java/dropwizard/DropwizardServerGenerator.scala
  modules/java-support/src/main/scala/dev/guardrail/java/helpers/ResponseHelpers.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpClientGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpHelper.scala
  modules/scala-akka-http/src/test/scala/core/issues/Issue43.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardServerGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sServerGenerator.scala
  modules/scala-http4s/src/test/scala/tests/generators/http4s/Http4sServerTest.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/ResponseADTHelper.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/scala/helpers/ResponseHelpers.scala
  project/src/main/scala/modules/core.scala
  src/test/scala/tests/core/PathParserSpec.scala
Labels: minor

#1525 Update sbt-scoverage to 2.0.0
  project/scoverage.sbt
Labels: minor, chore

#1520 Update http4s-circe, http4s-dsl to 0.23.13
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s, minor, chore

#1537 Update sbt to 1.7.1
  .github/workflows/ci.yml
  build.sbt
  project/build.properties
Labels: minor, chore

#1538 Update cats-effect to 3.3.14
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s, minor, chore

#1540 Adding cats instances back in
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
Labels: scala-support

#1542 Update spring-boot-starter-test, ... to 2.7.2
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: chore, java-spring-mvc

#1541 Revert fix for #1532
  modules/core/src/main/scala/dev/guardrail/generators/LanguageParameter.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonGenerator.scala
  modules/sample-akkaHttp/src/test/scala/core/issues/Issue1532.scala
  modules/sample/src/main/resources/issues/issue1532.yaml
  modules/scala-akka-http/src/test/scala/core/issues/Issue43.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/DefinitionSpec.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/client/DefaultParametersTest.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue370.scala
  modules/scala-http4s/src/test/scala/tests/generators/http4s/client/DefaultParametersTest.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/test/scala/tests/circe/ValidationTest.scala
  project/src/main/scala/RegressionTests.scala
  support/trigger-all-releases.sh
Labels: bug, minor

#1546 Update scalameta, semanticdb-scalac to 4.5.11
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support, chore

#1545 Update scala-collection-compat to 2.8.1
  project/src/main/scala/Build.scala
  project/src/main/scala/modules/core.scala
Labels: core, chore

#1544 Update http4s-circe, http4s-dsl to 0.23.14
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s, chore

#1543 Update equalsverifier to 3.10.1
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard, chore
