Repository guardrail-dev/guardrail, pull requests merged in 2022-08, with the labels that each got.

#1549 Update scalatest to 3.2.13
  project/src/main/scala/Dependencies.scala
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/javaSpringMvc.scala
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-akka-http, scala-http4s, java-dropwizard, chore, scala-dropwizard, java-spring-mvc

#1539 circe-refined array size validation
  modules/core/src/main/scala/dev/guardrail/SwaggerUtil.scala
  modules/core/src/main/scala/dev/guardrail/generators/ProtocolGenerator.scala
  modules/sample-akkaHttp/src/test/scala/generators/Circe/refined/ValidationTest.scala
  modules/sample/src/main/resources/validation/example.yaml
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
  modules/scala-support/src/test/scala/tests/circe/ArrayValidationTest.scala
Labels: scala-support

#1552 Update hibernate-validator to 6.2.4.Final
  project/src/main/scala/modules/scalaAkkaHttp.scala
Labels: chore

#1557 Update scalafmt-core to 3.5.9
  .scalafmt.conf
Labels: chore

#1559 Update swagger-parser to 2.1.2
  project/src/main/scala/modules/core.scala
Labels: chore

#1561 Update scalameta to 4.5.13
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support, chore

#1562 Update spring-boot-starter-test, ... to 2.7.3
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: chore, java-spring-mvc

#1565 Remove regenerate release drafter script
  support/regenerate-release-drafter.sh
Labels: chore

#1522 Update scala-library, scala-reflect to 2.12.16
  .github/workflows/ci.yml
  project/src/main/scala/Build.scala
Labels: chore

#1569 align sbt printed documentation with actual commands
  project/WelcomeMessage.scala
Labels: chore
