Repository guardrail-dev/guardrail, pull requests merged in 2023-02, with the labels that each got.

#1686 Added support for HTTP HEAD method for akka-http and http4s
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpServerGenerator.scala
  modules/scala-akka-http/src/test/scala/core/issues/Issue1682.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sServerGenerator.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue1682.scala
Labels: enhancement, scala-akka-http, scala-http4s

#1684 Update equalsverifier to 3.13
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard, chore

#1685 Update cats-effect to 3.4.6
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s, chore

#1679 Update jackson-module-scala to 2.13.5
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: scala-akka-http, chore, scala-dropwizard

#1687 Update jackson-annotations, jackson-core, ... to 2.14.2
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: scala-akka-http, chore, scala-dropwizard

#1674 Update http4s-circe, http4s-dsl to 0.23.18
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s, chore

#1698 Update cats-effect to 3.4.7
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s, chore
