Repository guardrail-dev/guardrail, pull requests merged in 2023-08, with the labels that each got.

#1787 Update equalsverifier to 3.15.1
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard, chore

#1769 Update swagger-parser to 2.1.16
  project/src/main/scala/modules/core.scala
Labels: core, chore

#1761 Update scala-collection-compat to 2.11.0
  project/src/main/scala/Build.scala
  project/src/main/scala/modules/core.scala
Labels: chore

#1782 Update sbt-dependency-tree to 1.9.3
  project/build.properties
Labels: chore

#1716 Update refined, refined-cats to 0.10.3
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-akka-http, scala-http4s, chore

#1781 Update spring-boot-starter-test, ... to 2.7.14
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: chore, java-spring-mvc

#1752 Update sbt-scalafix to 0.11.0
  project/scalafix.sbt
Labels: chore

#1742 Update jackson-module-scala to 2.14.3
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: scala-akka-http, chore, scala-dropwizard

#1748 Update cats-effect to 3.4.11
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s, chore

#1744 Update http4s-blaze-client, ... to 0.23.15
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s, chore

#1792 Update jackson-module-scala to 2.15.2
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: scala-akka-http, chore, scala-dropwizard

#1795 Update cats-effect to 3.5.1
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s, chore

#1796 Update cats-core, cats-kernel to 2.10.0
  project/src/main/scala/modules/core.scala
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-akka-http, scala-http4s, core, chore, scala-dropwizard

#1780 Update http4s-circe, http4s-dsl to 0.23.23
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s, chore

#1793 Update refined, refined-cats to 0.11.0
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-akka-http, scala-http4s, chore

#1797 Make resource vals protected
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sServerGenerator.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue144.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue416.scala
  modules/scala-http4s/src/test/scala/tests/generators/http4s/Http4sServerTest.scala
Labels: scala-http4s
