Repository guardrail-dev/guardrail, pull requests merged in 2023-10, with the labels that each got.

#1824 Update cats-effect to 3.5.2
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s, chore

#1807 Update sbt-scalafmt to 2.5.2
  project/scalafmt.sbt
Labels: chore

#1816 Update sbt-wartremover to 3.1.4
  modules/java-dropwizard/src/main/scala/dev/guardrail/generators/java/dropwizard/DropwizardServerGenerator.scala
  modules/java-spring-mvc/src/main/scala/dev/guardrail/generators/java/springMvc/SpringMvcServerGenerator.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardServerGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/syntax/Scala.scala
  project/wartremover.sbt
Labels: chore

#1815 Update scala-library, scala-reflect to 2.13.12
  project/src/main/scala/Build.scala
Labels: chore

#1756 Update scala-library, scala-reflect to 2.12.18
  modules/core/src/main/scala/dev/guardrail/core/IndexedDistributive.scala
  modules/core/src/main/scala/dev/guardrail/core/Mappish.scala
  modules/core/src/main/scala/dev/guardrail/generators/Framework.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/FrameworkLoader.scala
  modules/java-dropwizard/src/main/scala/dev/guardrail/generators/java/dropwizard/DropwizardGenerator.scala
  modules/java-spring-mvc/src/main/scala/dev/guardrail/generators/java/springMvc/SpringMvcGenerator.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/JavaGeneratorMappings.scala
  modules/sample-akkaHttp/src/main/scala/examples/support/PositiveLong.scala
  modules/sample-http4s-v0_22/src/main/scala/examples/support/PositiveLong.scala
  modules/sample-http4s/src/main/scala/examples/support/PositiveLong.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/ScalaGeneratorMappings.scala
  project/src/main/scala/Build.scala
Labels: chore

#1785 Degeneralize server and client generators
  .github/workflows/ci.yml
  .github/workflows/release.yml
  modules/core/src/main/scala/dev/guardrail/Common.scala
  modules/core/src/main/scala/dev/guardrail/core/Tracker.scala
  modules/core/src/main/scala/dev/guardrail/generators/ClientGenerator.scala
  modules/core/src/main/scala/dev/guardrail/generators/Clients.scala
  modules/core/src/main/scala/dev/guardrail/generators/ProtocolGenerator.scala
  modules/core/src/main/scala/dev/guardrail/generators/ServerGenerator.scala
  modules/core/src/main/scala/dev/guardrail/generators/Servers.scala
  modules/core/src/main/scala/dev/guardrail/generators/protocol/ClassHierarchy.scala
  modules/core/src/main/scala/dev/guardrail/terms/ProtocolTerms.scala
  modules/core/src/main/scala/dev/guardrail/terms/client/ClientTerms.scala
  modules/core/src/main/scala/dev/guardrail/terms/package.scala
  modules/core/src/main/scala/dev/guardrail/terms/server/ServerTerms.scala
  modules/core/src/test/scala/support/SwaggerSpecRunner.scala
  modules/java-async-http/src/main/scala/dev/guardrail/generators/java/asyncHttpClient/AsyncHttpClientClientGenerator.scala
  modules/java-dropwizard/src/main/scala/dev/guardrail/generators/java/dropwizard/DropwizardServerGenerator.scala
  modules/java-spring-mvc/src/main/scala/dev/guardrail/generators/java/springMvc/SpringMvcClientGenerator.scala
  modules/java-spring-mvc/src/main/scala/dev/guardrail/generators/java/springMvc/SpringMvcServerGenerator.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpClientGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpServerGenerator.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardClientGenerator.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardServerGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sClientGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sServerGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonProtocolGenerator.scala
  modules/scala-support/src/test/scala/tests/circe/ArrayValidationTest.scala
  modules/scala-support/src/test/scala/tests/circe/BigObjectSpec.scala
  modules/scala-support/src/test/scala/tests/circe/ValidationTest.scala
Labels: scala-akka-http, scala-http4s, core, java-dropwizard, major, scala-dropwizard, java-async-http, java-spring-mvc

#1805 Update circe-core, circe-jawn, circe-parser, ... to 0.14.6
  modules/sample-akkaHttp/src/test/scala/core/issues/Issue148.scala
  modules/sample-akkaHttp/src/test/scala/generators/Circe/refined/ValidationTest.scala
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-akka-http, scala-http4s, major, chore

#1827 Remove deprecations
  build.sbt
  modules/core/src/main/scala/dev/guardrail/core/Tracker.scala
  modules/core/src/main/scala/dev/guardrail/core/extract/package.scala
  modules/core/src/main/scala/dev/guardrail/core/resolvers/ModelResolver.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/syntax/Java.scala
  modules/scala-akka-http/src/test/scala/core/issues/Issue145.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/server/FormFieldsTest.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sClientGenerator.scala
Labels: major

#1566 add bare-bones documentation on encoding of bodies
  modules/microsite/docs/scala/akka-http/dtos.md
  modules/microsite/docs/scala/akka-http/index.md
  modules/microsite/docs/scala/http4s/dtos.md
  modules/microsite/docs/scala/http4s/index.md
Labels: major

#1623 Update scalafmt-core to 3.6.1
  .scalafmt.conf
Labels: major, chore

#1822 Update scalameta to 4.8.11
  modules/microsite/src/main/scala/DocsHelpers.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpClientGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpHelper.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpServerGenerator.scala
  modules/scala-akka-http/src/test/scala/core/issues/Issue122.scala
  modules/scala-akka-http/src/test/scala/core/issues/Issue126.scala
  modules/scala-akka-http/src/test/scala/core/issues/Issue127.scala
  modules/scala-akka-http/src/test/scala/core/issues/Issue313.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/AkkaHttpClientGeneratorTest.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/AkkaHttpServerTest.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/CustomHeaderTest.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/DefinitionSpec.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/EnumTest.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/PropertyExtractors.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/StaticParametersTest.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/client/AkkaHttpClientTracingTest.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/client/BasicTest.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/client/DefaultParametersTest.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/client/FormFieldsTest.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/client/HardcodedQSSpec.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/client/HttpBodiesTest.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/client/MultipartTest.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/client/ParamConflictsTest.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/client/SchemeTest.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/client/contentType/TextPlainTest.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/server/FormFieldsTest.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardServerGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sClientGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sServerGenerator.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue166.scala
  modules/scala-http4s/src/test/scala/tests/core/FullyQualifiedNames.scala
  modules/scala-http4s/src/test/scala/tests/generators/http4s/BasicTest.scala
  modules/scala-http4s/src/test/scala/tests/generators/http4s/Http4sServerTest.scala
  modules/scala-http4s/src/test/scala/tests/generators/http4s/client/DefaultParametersTest.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/ResponseADTHelper.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonProtocolGenerator.scala
  modules/scala-support/src/test/scala/support/ScalaMetaSupport.scala
  modules/scala-support/src/test/scala/tests/circe/ArrayValidationTest.scala
  modules/scala-support/src/test/scala/tests/circe/BigObjectSpec.scala
  modules/scala-support/src/test/scala/tests/circe/ValidationTest.scala
  modules/scala-support/src/test/scala/tests/generators/helpers/JacksonHelpersTest.scala
  project/src/main/scala/modules/scalaSupport.scala
  src/test/scala/support/ScalaMetaMatchers.scala
  src/test/scala/tests/core/BacktickTest.scala
  src/test/scala/tests/core/DereferencingAliasesSpec.scala
  src/test/scala/tests/core/EscapeTreeSpec.scala
  src/test/scala/tests/generators/dropwizardScala/server/DropwizardScalaJsr310Test.scala
Labels: scala-support, major, chore

#1833 Update scalafmt-core to 3.7.14
  .git-blame-ignore-revs
  .scalafmt.conf
  build.sbt
  modules/sample-akkaHttp/src/test/scala/core/AkkaHttp/AkkaHttpFullTracerTest.scala
  modules/sample-akkaHttpJackson/src/test/scala/core/AkkaHttpJackson/AkkaHttpFullTracerTest.scala
  project/src/main/scala/Build.scala
  support/current-pr-labels.sh
Labels: chore

#1835 Update swagger-parser to 2.1.18
  project/src/main/scala/modules/core.scala
Labels: core, chore

#1834 Update scalameta to 4.8.12
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support, chore

#1830 Update jackson-annotations, jackson-core, ... to 2.15.3
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: scala-akka-http, chore, scala-dropwizard

#1738 Update sbt-ci-release to 1.5.12
  project/ci-release.sbt
  project/microsite.sbt
  project/src/main/scala/Build.scala
Labels: chore

#1829 Hygiene
  modules/sample-akkaHttp/src/test/scala/core/AkkaHttp/AkkaHttpRoundTripTest.scala
  modules/sample-akkaHttp/src/test/scala/core/issues/Issue121.scala
  modules/sample-akkaHttp/src/test/scala/core/issues/Issue143.scala
  modules/sample-akkaHttp/src/test/scala/core/issues/Issue148.scala
  modules/sample-akkaHttp/src/test/scala/core/issues/Issue184.scala
  modules/sample-akkaHttp/src/test/scala/core/issues/Issue315.scala
  modules/sample-akkaHttp/src/test/scala/core/issues/Issue325.scala
  modules/sample-akkaHttp/src/test/scala/core/issues/Issue357.scala
  modules/sample-akkaHttp/src/test/scala/core/issues/Issue405.scala
  modules/sample-akkaHttp/src/test/scala/generators/AkkaHttp/Client/contentType/AkkaHttpTextPlainTest.scala
  modules/sample-akkaHttp/src/test/scala/generators/AkkaHttp/RoundTrip/AkkaHttpCustomHeadersTest.scala
  modules/sample-akkaHttpJackson/src/test/scala/core/AkkaHttpJackson/AkkaHttpJacksonRoundTripTest.scala
  modules/sample-akkaHttpJackson/src/test/scala/core/issues/Issue121.scala
  modules/sample-akkaHttpJackson/src/test/scala/core/issues/Issue143.scala
  modules/sample-akkaHttpJackson/src/test/scala/core/issues/Issue184.scala
  modules/sample-akkaHttpJackson/src/test/scala/core/issues/Issue315.scala
  modules/sample-akkaHttpJackson/src/test/scala/core/issues/Issue325.scala
  modules/sample-akkaHttpJackson/src/test/scala/core/issues/Issue357.scala
  modules/sample-akkaHttpJackson/src/test/scala/core/issues/Issue405.scala
  modules/sample-akkaHttpJackson/src/test/scala/generators/AkkaHttp/Client/contentType/AkkaHttpTextPlainTest.scala
  modules/sample-akkaHttpJackson/src/test/scala/generators/AkkaHttp/RoundTrip/AkkaHttpCustomHeadersTest.scala
  modules/sample-http4s-v0_22/src/test/scala/core/Http4s/authentication/Http4sCustomAuthenticationTest.scala
  modules/sample-http4s-v0_22/src/test/scala/core/Http4s/authentication/Http4sSimpleAuthenticationTest.scala
  modules/sample-http4s-v0_22/src/test/scala/core/issues/Issue121.scala
  modules/sample-http4s-v0_22/src/test/scala/core/issues/Issue1218.scala
  modules/sample-http4s-v0_22/src/test/scala/core/issues/Issue148.scala
  modules/sample-http4s-v0_22/src/test/scala/core/issues/Issue455.scala
  modules/sample-http4s-v0_22/src/test/scala/core/issues/Issue542.scala
  modules/sample-http4s/src/test/scala/core/Http4s/authentication/Http4sCustomAuthenticationTest.scala
  modules/sample-http4s/src/test/scala/core/Http4s/authentication/Http4sNativeAuthenticationTest.scala
  modules/sample-http4s/src/test/scala/core/Http4s/authentication/Http4sSimpleAuthenticationTest.scala
  modules/sample-http4s/src/test/scala/core/issues/Issue121.scala
  modules/sample-http4s/src/test/scala/core/issues/Issue1218.scala
  modules/sample-http4s/src/test/scala/core/issues/Issue148.scala
  modules/sample-http4s/src/test/scala/core/issues/Issue455.scala
  modules/sample-http4s/src/test/scala/core/issues/Issue542.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/ScalaGenerator.scala
Labels: chore

#1669 Update async-http-client to 2.12.3
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard, chore

#1803 Update javaparser-symbol-solver-core to 3.25.5
  .github/workflows/ci.yml
  modules/java-async-http/src/main/scala/dev/guardrail/generators/java/asyncHttpClient/AsyncHttpClientClientGenerator.scala
  modules/java-dropwizard/src/test/scala/scala/core/issues/Issue314.scala
  project/src/main/scala/modules/javaSupport.scala
  src/test/scala/dev/guardrail/generators/syntax/JavaSyntaxTest.scala
Labels: chore, java-support

#1838 Update spring-boot-starter-test, ... to 2.7.17
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: chore

#1839 Resolve structured logger log duplication
  modules/cli/src/main/scala/dev/guardrail/cli/CLICommon.scala
  modules/core/src/main/scala/dev/guardrail/Target.scala
  modules/core/src/main/scala/dev/guardrail/core/StructuredLogger.scala
  src/test/scala/core/StructuredLoggerSuite.scala
Labels: bug, core

#1836 Delete MonadChain
  modules/core/src/main/scala-2.12/dev/guardrail/shims/CollectionsSyntax.scala
  modules/core/src/main/scala-2.13/dev/guardrail/CollectionsSyntax.scala
  modules/core/src/main/scala-2.13/dev/guardrail/shims/CollectionsSyntax.scala
  modules/core/src/main/scala/dev/guardrail/Common.scala
  modules/core/src/main/scala/dev/guardrail/core/CoreTermInterp.scala
  modules/core/src/main/scala/dev/guardrail/core/ResolvedType.scala
  modules/core/src/main/scala/dev/guardrail/core/resolvers/ModelResolver.scala
  modules/core/src/main/scala/dev/guardrail/generators/LanguageParameter.scala
  modules/core/src/main/scala/dev/guardrail/generators/SwaggerGenerator.scala
  modules/core/src/main/scala/dev/guardrail/package.scala
  modules/core/src/main/scala/dev/guardrail/terms/CollectionsLibTerms.scala
  modules/core/src/main/scala/dev/guardrail/terms/CoreTerms.scala
  modules/core/src/main/scala/dev/guardrail/terms/LanguageTerms.scala
  modules/core/src/main/scala/dev/guardrail/terms/ProtocolTerms.scala
  modules/core/src/main/scala/dev/guardrail/terms/Responses.scala
  modules/core/src/main/scala/dev/guardrail/terms/RouteMeta.scala
  modules/core/src/main/scala/dev/guardrail/terms/SwaggerTerms.scala
  modules/core/src/main/scala/dev/guardrail/terms/client/ClientTerms.scala
  modules/core/src/main/scala/dev/guardrail/terms/framework/FrameworkTerms.scala
  modules/core/src/main/scala/dev/guardrail/terms/protocol/Discriminator.scala
  modules/core/src/main/scala/dev/guardrail/terms/protocol/PropMeta.scala
  modules/core/src/main/scala/dev/guardrail/terms/protocol/ProtocolElems.scala
  modules/core/src/main/scala/dev/guardrail/terms/server/ServerTerms.scala
  modules/java-async-http/src/main/scala/dev/guardrail/generators/java/asyncHttpClient/AsyncHttpClientClientGenerator.scala
  modules/java-dropwizard/src/main/scala/dev/guardrail/generators/java/dropwizard/DropwizardGenerator.scala
  modules/java-dropwizard/src/main/scala/dev/guardrail/generators/java/dropwizard/DropwizardServerGenerator.scala
  modules/java-spring-mvc/src/main/scala/dev/guardrail/generators/java/springMvc/SpringMvcClientGenerator.scala
  modules/java-spring-mvc/src/main/scala/dev/guardrail/generators/java/springMvc/SpringMvcGenerator.scala
  modules/java-spring-mvc/src/main/scala/dev/guardrail/generators/java/springMvc/SpringMvcServerGenerator.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/JavaCollectionsGenerator.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/JavaGenerator.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/JavaVavrCollectionsGenerator.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpClientGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpServerGenerator.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardClientGenerator.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardGenerator.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardServerGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sClientGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sServerGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/ScalaCollectionsGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/ScalaGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonProtocolGenerator.scala
  modules/scala-support/src/test/scala/tests/circe/ArrayValidationTest.scala
  modules/scala-support/src/test/scala/tests/circe/BigObjectSpec.scala
  modules/scala-support/src/test/scala/tests/circe/ValidationTest.scala
  src/test/scala/codegen/WritePackageSpec.scala
  support/current-pr-labels.sh
Labels: major, chore

#1840 Avoid LA in language modules
  modules/core/src/main/scala/dev/guardrail/terms/CoreTerms.scala
  modules/java-async-http/src/main/scala/dev/guardrail/generators/java/asyncHttpClient/AsyncHttpClientClientGenerator.scala
  modules/java-dropwizard/src/main/scala/dev/guardrail/generators/java/dropwizard/DropwizardServerGenerator.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonGenerator.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonHelpers.scala
  modules/java-support/src/main/scala/dev/guardrail/java/helpers/ResponseHelpers.scala
  modules/java-support/src/test/scala/tests/generators/helpers/JacksonHelpersTest.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardServerGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonHelpers.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/scala/helpers/ResponseHelpers.scala
  modules/scala-support/src/test/scala/tests/generators/helpers/JacksonHelpersTest.scala
Labels: major, chore

#1843 Update sbt, sbt-dependency-tree to 1.9.7
  project/build.properties
Labels: chore

#1844 Update scalafmt-core to 3.7.15
  .scalafmt.conf
Labels: chore

#1841 Minor cleanup
  modules/cli/src/main/scala/dev/guardrail/cli/CLICommon.scala
  modules/core/src/main/scala/dev/guardrail/generators/SwaggerGenerator.scala
Labels: chore

#1853 Remove swagger references
  modules/cli/src/main/scala/dev/guardrail/cli/CLICommon.scala
  modules/core/src/main/scala/dev/guardrail/Common.scala
  modules/core/src/main/scala/dev/guardrail/ReadSpec.scala
  modules/core/src/main/scala/dev/guardrail/core/CoreTermInterp.scala
  modules/core/src/main/scala/dev/guardrail/core/ResolvedType.scala
  modules/core/src/main/scala/dev/guardrail/core/extract/VendorExtension.scala
  modules/core/src/main/scala/dev/guardrail/core/resolvers/ModelResolver.scala
  modules/core/src/main/scala/dev/guardrail/generators/Framework.scala
  modules/core/src/main/scala/dev/guardrail/generators/LanguageParameter.scala
  modules/core/src/main/scala/dev/guardrail/generators/OpenAPIGenerator.scala
  modules/core/src/main/scala/dev/guardrail/generators/spi/FrameworkLoader.scala
  modules/core/src/main/scala/dev/guardrail/runner/GuardrailRunner.scala
  modules/core/src/main/scala/dev/guardrail/terms/OpenAPITerms.scala
  modules/core/src/main/scala/dev/guardrail/terms/ProtocolTerms.scala
  modules/core/src/main/scala/dev/guardrail/terms/Responses.scala
  modules/core/src/main/scala/dev/guardrail/terms/RouteMeta.scala
  modules/core/src/main/scala/dev/guardrail/terms/client/ClientTerms.scala
  modules/core/src/main/scala/dev/guardrail/terms/protocol/Discriminator.scala
  modules/core/src/main/scala/dev/guardrail/terms/protocol/PropMeta.scala
  modules/core/src/main/scala/dev/guardrail/terms/protocol/ProtocolElems.scala
  modules/core/src/main/scala/dev/guardrail/terms/server/ServerTerms.scala
  modules/java-async-http/src/main/scala/dev/guardrail/generators/java/asyncHttpClient/AsyncHttpClientClientGenerator.scala
  modules/java-dropwizard/src/main/scala/dev/guardrail/generators/java/dropwizard/DropwizardServerGenerator.scala
  modules/java-spring-mvc/src/main/scala/dev/guardrail/generators/java/springMvc/SpringMvcClientGenerator.scala
  modules/java-spring-mvc/src/main/scala/dev/guardrail/generators/java/springMvc/SpringMvcServerGenerator.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpClientGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpServerGenerator.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardClientGenerator.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardServerGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sClientGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sServerGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonProtocolGenerator.scala
  modules/scala-support/src/test/scala/tests/circe/ArrayValidationTest.scala
  modules/scala-support/src/test/scala/tests/circe/BigObjectSpec.scala
  modules/scala-support/src/test/scala/tests/circe/ValidationTest.scala
Labels: chore

#1857 Update sbt-wartremover, wartremover to 3.1.5
  project/wartremover.sbt
Labels: chore

#1854 OpenAPI v3.1.0 spec files do not generate valid data classes
  modules/core/src/main/scala/dev/guardrail/core/extract/VendorExtension.scala
  modules/core/src/main/scala/dev/guardrail/core/resolvers/ModelResolver.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonProtocolGenerator.scala
  src/test/scala/core/issues/Issue1854.scala
Labels: scala-support, core, java-support

#1859 Update mockito-scala, ... to 1.17.29
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/javaSpringMvc.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, chore, scala-dropwizard, java-spring-mvc
