Repository guardrail-dev/guardrail, pull requests merged in 2023-11, with the labels that each got.

#1863 Update equalsverifier to 3.15.3
  project/src/main/scala/modules/javaDropwizard.scala
Labels: java-dropwizard, chore

#1864 Update javaparser-symbol-solver-core to 3.25.6
  project/src/main/scala/modules/javaSupport.scala
Labels: chore, java-support

#1869 Update scalameta to 4.8.13
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpClientGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sClientGenerator.scala
  project/src/main/scala/modules/scalaSupport.scala
Labels: scala-support, chore

#1867 Update sbt-microsites to 1.4.4
  modules/microsite/build.sbt
  project/microsite.sbt
Labels: chore

#1873 Delete second set of Deferred* and resolve()
  modules/core/src/main/scala/dev/guardrail/core/ResolvedType.scala
  modules/core/src/main/scala/dev/guardrail/generators/OpenAPIGenerator.scala
  modules/core/src/main/scala/dev/guardrail/terms/OpenAPITerms.scala
  modules/core/src/main/scala/dev/guardrail/terms/protocol/Discriminator.scala
  modules/core/src/main/scala/dev/guardrail/terms/protocol/ProtocolElems.scala
  modules/core/src/main/scala/dev/guardrail/terms/protocol/StrictProtocolElems.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonProtocolGenerator.scala
Labels: major, chore

#1872 Update http4s-circe, http4s-dsl to 0.23.24
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s, chore

#1874 Breaking `Resolved[L]` out from lazy protocol objects
  modules/core/src/main/scala/dev/guardrail/core/ResolvedType.scala
  modules/core/src/main/scala/dev/guardrail/core/resolvers/ModelResolver.scala
  modules/core/src/main/scala/dev/guardrail/generators/LanguageParameter.scala
  modules/core/src/main/scala/dev/guardrail/terms/OpenAPITerms.scala
  modules/core/src/main/scala/dev/guardrail/terms/protocol/PropMeta.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonProtocolGenerator.scala
  project/WelcomeMessage.scala
  src/test/scala/tests/core/EscapeTreeSpec.scala
Labels: major, chore

#1876 Update jackson-datatype-jsr310 to 2.16.0
  project/src/main/scala/modules/scalaAkkaHttp.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: chore

#1879 Update scalameta to 4.8.14
  project/src/main/scala/modules/scalaSupport.scala
Labels: chore

#1878 Update scalafmt-core to 3.7.17
  .scalafmt.conf
Labels: chore

#1880 Deduplicate deferred
  modules/core/src/main/scala/dev/guardrail/core/ResolvedType.scala
Labels: major, chore

#1882 Update swagger-parser to 2.1.19
  project/src/main/scala/modules/core.scala
Labels: core, chore

#1883 Update spring-boot-starter-test, ... to 2.7.18
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: chore, java-spring-mvc
