Repository guardrail-dev/guardrail, pull requests merged in 2023-12, with the labels that each got.

#1886 Update mockito-scala, ... to 1.17.30
  project/src/main/scala/modules/javaDropwizard.scala
  project/src/main/scala/modules/javaSpringMvc.scala
  project/src/main/scala/modules/scalaDropwizard.scala
Labels: java-dropwizard, chore, scala-dropwizard, java-spring-mvc

#1891 Update javaparser-symbol-solver-core to 3.25.7
  project/src/main/scala/modules/javaSupport.scala
Labels: chore, java-support

#1890 Update sbt-version-policy to 3.1.0
  project/version-policy.sbt
Labels: chore

#1893 Simplify plugin abi
  modules/cli/src/main/scala/dev/guardrail/cli/CLICommon.scala
  modules/core/src/main/scala/dev/guardrail/Args.scala
  modules/core/src/main/scala/dev/guardrail/Context.scala
  modules/core/src/main/scala/dev/guardrail/TagsBehavior.scala
  modules/core/src/main/scala/dev/guardrail/generators/OpenAPIGenerator.scala
  modules/core/src/main/scala/dev/guardrail/runner/GuardrailRunner.scala
  modules/core/src/main/scala/dev/guardrail/runner/GuardrailRunnerCompat.scala
  modules/core/src/main/scala/dev/guardrail/terms/OpenAPITerms.scala
  modules/java-dropwizard/src/test/scala/scala/core/issues/Issue314.scala
  modules/scala-akka-http/src/test/scala/core/issues/Issue314.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/AkkaHttpClientGeneratorTest.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/AkkaHttpServerTest.scala
  modules/scala-akka-http/src/test/scala/tests/generators/akkaHttp/client/AkkaHttpClientTracingTest.scala
  modules/scala-http4s/src/test/scala/core/issues/Issue166.scala
  modules/scala-http4s/src/test/scala/tests/generators/http4s/Http4sServerTest.scala
  project/scalameta.sbt
  project/src/main/scala/interop/CompanionFunctions.scala
  project/src/main/scala/interop/InteropKeys.scala
  project/src/main/scala/interop/InteropTasks.scala
  project/src/main/scala/interop/PojoFunctions.scala
  project/src/main/scala/modules/core.scala
  src/test/scala/codegen/WritePackageSpec.scala
  src/test/scala/core/StructuredLoggerSuite.scala
Labels: enhancement, minor

#1895 Better snapshot version numbers
  project/src/main/scala/Build.scala
  support/current-pr-labels.sh
Labels: chore

#1898 Filter out server URLs that accept template variables
  modules/core/src/main/scala/dev/guardrail/Common.scala
Labels: bug

#1902 Rely entirely on custom version mangling inside sbt
  .github/workflows/ci.yml
  project/src/main/scala/Build.scala
  support/apply-pr-label-locally.sh
  support/current-pr-labels.sh
Labels: minor, chore

#1901 Add nested definitions to support in-line oneOf objects
  build.sbt
  modules/core/src/main/scala/dev/guardrail/core/resolvers/ModelResolver.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonGenerator.scala
  modules/sample-akkaHttp/src/test/scala/core/issues/Issue195.scala
  modules/sample/src/main/resources/issues/issue195.yaml
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonProtocolGenerator.scala
Labels: enhancement, major

#1903 Introducing a delay in the name generator, since `Target` is not `Lazy`
  modules/core/src/main/scala/dev/guardrail/core/resolvers/ModelResolver.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonGenerator.scala
  modules/sample-akkaHttp/src/test/scala/core/issues/Issue195.scala
  modules/sample/src/main/resources/issues/issue195.yaml
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonProtocolGenerator.scala
  project/src/main/scala/Build.scala
  support/apply-pr-label-locally.sh
Labels: bug, minor

#1905 Resolve 1904
  modules/core/src/main/scala/dev/guardrail/WriteTree.scala
  modules/core/src/main/scala/dev/guardrail/terms/LanguageTerms.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/JavaGenerator.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonGenerator.scala
  modules/sample-akkaHttp/src/test/scala/core/issues/Issue195.scala
  modules/sample/src/main/resources/issues/issue195.yaml
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/ScalaGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonProtocolGenerator.scala
Labels: bug, minor

#1906 Distinct protocol parameters
  modules/sample/src/main/resources/issues/issue222.yaml
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceRefinedProtocolGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/jackson/JacksonProtocolGenerator.scala
Labels: bug, minor

#1907 Fix parser warning for #264
  modules/sample/src/main/resources/issues/issue264.yaml
Labels: minor, chore

#1908 Including Tracker info in lookupStatusCode
  modules/core/src/main/scala/dev/guardrail/terms/Responses.scala
  modules/core/src/main/scala/dev/guardrail/terms/framework/FrameworkTerms.scala
  modules/java-dropwizard/src/main/scala/dev/guardrail/generators/java/dropwizard/DropwizardGenerator.scala
  modules/java-spring-mvc/src/main/scala/dev/guardrail/generators/java/springMvc/SpringMvcGenerator.scala
  modules/scala-akka-http/src/main/scala/dev/guardrail/generators/scala/akkaHttp/AkkaHttpGenerator.scala
  modules/scala-dropwizard/src/main/scala/dev/guardrail/generators/scala/dropwizard/DropwizardGenerator.scala
  modules/scala-http4s/src/main/scala/dev/guardrail/generators/scala/http4s/Http4sGenerator.scala
  modules/scala-support/src/test/scala/tests/circe/ArrayValidationTest.scala
  modules/scala-support/src/test/scala/tests/circe/BigObjectSpec.scala
  modules/scala-support/src/test/scala/tests/circe/ValidationTest.scala
Labels: minor, chore
