Repository guardrail-dev/guardrail, pull requests merged in 2023-05, with the labels that each got.

#1734 Update scala-collection-compat to 2.10.0
  project/src/main/scala/Build.scala
  project/src/main/scala/modules/core.scala
Labels: core, chore

#1730 Update spring-boot-starter-test, ... to 2.7.11
  project/src/main/scala/modules/javaSpringMvc.scala
Labels: chore, java-spring-mvc

#1735 Update cats-effect to 3.4.10
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: chore

#1714 Update slf4j-simple to 2.0.7
  project/src/main/scala/modules/root.scala
Labels: chore

#1720 Update swagger-parser to 2.1.13
  project/src/main/scala/modules/core.scala
Labels: core, chore

#1692 Update sbt-scoverage to 2.0.7
  project/scoverage.sbt
Labels: chore

#1710 Update http4s-blaze-client, ... to 0.23.14
  project/src/main/scala/modules/scalaHttp4s.scala
Labels: scala-http4s, chore

#1739 chore/Preparing for 1591
  modules/core/src/main/scala/dev/guardrail/core/Mappish.scala
  modules/core/src/main/scala/dev/guardrail/generators/ProtocolGenerator.scala
  modules/java-support/src/main/scala/dev/guardrail/generators/java/jackson/JacksonGenerator.scala
  modules/scala-support/src/main/scala/dev/guardrail/generators/scala/circe/CirceProtocolGenerator.scala
Labels: chore
